

.avatar-container {
    visibility: hidden;  /* Imposta la visibilità iniziale a hidden */
    opacity: 0;          /* Imposta l'opacità a 0 per nasconderlo */
    transition: opacity 1.2s ease-in-out, visibility 0s  /* Transizione per opacity e ritardo su visibility */
}

.avatar-container.show {
    visibility: visible;  /* Imposta la visibilità a visible */
    opacity: 1;            /* Imposta l'opacità a 1 */
}


.font-consolas {
font-family: 'Consolas', 'Courier New', monospace;
}

.big-number{
    font-size: 180px;
}

@media (max-width: 768px) { /* Schermi piccoli (smartphone) */
  .big-number {
    font-size: 140px; /* Aumenta al 90% */
  }
}

.section-wrapper {
    background-image: url('/images/blobs.png');
    background-size: 50%; /* Riduce l'immagine al 50% della larghezza del contenitore */
    background-position: center 80%; /* Centra l'immagine */
    background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
}

@media (max-width: 1024px) { /* Schermi medi (tablet o piccoli desktop) */
  .section-wrapper {
      background-size: 80%; /* Aumenta al 80% */
  }
}

@media (max-width: 768px) { /* Schermi piccoli (smartphone) */
  .section-wrapper {
      background-size: 90%; /* Aumenta al 90% */
  }
}

// animations

#number-1, #number-4 {
    position: relative;  /* Assicurati che l'elemento abbia una posizione relativa */
    z-index: 10;  /* Aggiungi un alto z-index per assicurarti che l'elemento non venga coperto */
  }
  
  .tilt-left {
    transform: rotate(-12deg);
    transform-origin: bottom left;
    transition: transform 0.8s ease-out;
  }
  
  .tilt-right {
    transform: rotate(12deg);
    transform-origin: bottom right;
    transition: transform 0.8s ease-out;
  }
  
  .no-tilt {
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.4s ease;
  }


.fire-background-container{
    mix-blend-mode:screen;
    pointer-events: none;
}


// game mode animation

#top-container, #bottom-container {
    position: relative;  /* Assicurati che l'elemento abbia una posizione relativa */
    z-index: 40;  /* Aggiungi un alto z-index per assicurarti che l'elemento non venga coperto */
  }

.reveal-right {
    opacity: 0;
    transform: translateX(60%); /* Inizialmente a destra */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
  
  .reveal-left {
    opacity: 0;
    transform: translateX(-60%); /* Inizialmente a sinistra */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
  
  /* Quando gli elementi diventano visibili */
  .reveal-visible {
    opacity: 1;
    transform: translateX(0); /* Arrivano alla posizione finale */
  }
  
  .reveal-right.reveal-visible {
    transition-delay: 0.3s;
  }

  .icon-container {
    width: 3rem; /* equivalente a w-12 in Tailwind */
    height: 3rem; /* equivalente a h-12 in Tailwind */
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon-container:hover {
    transform: scale(1.20);
}

.icon-image {
    width: 1.5rem; /* equivalente a w-6 in Tailwind */
    height: 1.5rem; /* equivalente a h-6 in Tailwind */
}

.user-search-wrapper {
  transition: opacity 0.4s ease-in-out;
}


.hover-rotate {
  transition: transform 0.3s ease; /* Animazione fluida */
}

.hover-rotate:hover {
  transform: rotate(25deg); /* Ruota di 25 gradi */
}
    

// quill styles

.ql-size-small {
  font-size: 20px; !important
}

.ql-size-medium {
  font-size: 28px; !important
}

.ql-size-large {
  font-size: 36px; !important
}


.thinking-fox {
  animation: fadein 0.5s;
}

.min-height-custom {
  min-height: 300px; 
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


.swiper-pagination {
  background: rgba(5, 81, 223, 0.18) !important; /* Azzurro chiaro con opacità */
  backdrop-filter: blur(15px) !important; /* Aggiungi più blur per un effetto più morbido */
  border: 1px solid rgba(173, 216, 230, 0.5) !important; /* Bordo azzurro chiaro */
  border-radius: 15px !important;
  padding: 5px 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  width: auto !important;
  max-width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  gap: 12px;
  align-items: center !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: 40px !important; 
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 1) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 24px !important;  
  height: 24px !important;  
  opacity: 1 !important;

}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-radius: 50% !important;
  outline: 2px solid red !important;
}

.swiper-pagination-bullet:nth-child(1) {
  background-image: url('/images/icons/play-game.png') !important;
}

.swiper-pagination-bullet:nth-child(2) {
  background-image: url('/images/icons/stats-medal.png') !important;
}

.swiper-pagination-bullet:nth-child(3) {
  background-image: url('/images/icons/icons8-lettura-64.png') !important;
}

.swiper-pagination-bullet:nth-child(4) {
  background-image: url('/images/icons/book-icon.png') !important; 
}

.swiper-pagination-bullet:nth-child(5) {
  background-image: url('/images/icons/fire-icon.png') !important;
}


