<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <title>
            Wordrops Classifiche – La piattaforma per scrivere e collaborare in
            tempo reale
        </title>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link href="/style/style.css" rel="stylesheet" />
        <link href="/style/output.css" rel="stylesheet" />
    </head>
    <body
        class="bg-white min-h-screen flex items-start justify-center text-white py-12"
    >
        <div
            class="page-wrapper flex flex-col justify-center items-center w-full"
        >
            <div
                id="menu"
                class="w-full z-10 fixed h-24 top-0 p-4 bg-custom-light"
            >
                <div
                    class="flex justify-between w-full h-full items-center bg-custom-light"
                >
                    <div class="">
                        <img
                            src="/images/logo_wordrops_classic.svg"
                            alt="Wordrops Logo"
                            class="mx-auto w-20 lg:w-36"
                        />
                    </div>
                    <div
                        class="flex flex-row gap-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                    >
                        <div
                            class="w-32 py-2 border-1 border-gray-200 rounded-lg cursor-pointer"
                        >
                            <a
                                onclick="dashboardButton()"
                                class="button-container flex flex-col justify-center items-center"
                            >
                                <img
                                    src="/images/icons/icons8-casa-100.png"
                                    alt="leaderboard Icon"
                                    class="icon-image size-6"
                                />
                                <div
                                    class="text-sm font-semibold text-gray-800"
                                >
                                    dashboard
                                </div>
                            </a>
                        </div>
                        <div
                            class="w-32 py-2 border-1 border-gray-200 rounded-lg"
                        >
                            <a
                                href="/storie-community"
                                class="button-container flex flex-col justify-center items-center"
                            >
                                <img
                                    src="/images/icons/library-icon.png"
                                    alt="library Icon"
                                    class="icon-image size-6"
                                />
                                <div
                                    class="text-sm font-semibold text-gray-800"
                                >
                                    libreria
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4">
                        <button
                            class="group w-32 cursor-pointer relative inline-flex h-12 items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 px-6 font-medium text-white duration-500"
                        >
                            <div
                                class="translate-x-0 opacity-100 transition group-hover:-translate-x-[150%] group-hover:opacity-0"
                            >
                                registrati
                            </div>
                            <div
                                class="absolute translate-x-[150%] opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100"
                            >
                                <svg
                                    width="15"
                                    height="15"
                                    viewBox="0 0 15 15"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                >
                                    <path
                                        d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                                        fill="currentColor"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </div>
                        </button>
                        <button
                            class="cursor-pointer w-32 relative h-12 overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2.5 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                        >
                            <span class="relative font-semibold">login</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="w-full py-12 bg-white max-w-6xl fixed z-10 top-24 flex flex-row justify-between items-center"
            >
                <div>
                    <h1
                        class="text-4xl font-bold text-gray-800 text-center tracking-tight"
                    >
                        🏆 Classifica Globale
                    </h1>
                </div>
                <div class="flex flex-col gap-2 relative">
                    <div class="flex items-center gap-4 relative">
                        <input
                            id="search-input"
                            type="text"
                            placeholder="cerca utente"
                            class="border border-gray-300 px-4 py-2 text-gray-800 rounded w-full"
                        />
                        <button
                            onclick="searchUser()"
                            class="absolute right-0 bg-custom-light h-full cursor-pointer border border-gray-300 rounded"
                        >
                            <img
                                class="size-8 p-2"
                                src="/images/icons/search-interface-symbol.png"
                                alt="Cerca"
                            />
                        </button>
                    </div>
                    <div
                        id="error-message"
                        class="text-red-600 absolute -bottom-6 right-0 text-sm"
                    ></div>
                </div>
            </div>

            <div
                class="flex flex-col gap-6 w-full justify-start pb-24 items-center mt-52"
            >
                <div
                    class="w-full max-w-6xl px-6 py-10"
                    style="background-color: #faf4f4"
                >
                    <div class="mb-8 hidden" id="podium">
                        <!-- Primo classificato -->
                        <div class="bg-white rounded-lg py-12 mb-4 w-full">
                            <div class="flex justify-center">
                                <div class="flex items-center space-x-6">
                                    <!-- Rank -->
                                    <div
                                        class="flex items-center justify-center px-4 py-4 rounded-lg bg-custom-light"
                                    >
                                        <span
                                            id="first-rank"
                                            class="text-4xl font-bold text-amber-300"
                                        ></span>
                                    </div>

                                    <!-- Avatar -->
                                    <div
                                        class="w-24 h-24 border-2 rounded-lg border-amber-300 overflow-hidden"
                                    >
                                        <img
                                            id="first-avatar"
                                            src=""
                                            alt="Avatar"
                                            class="w-full h-full object-contain"
                                        />
                                    </div>

                                    <!-- Username + Stats -->
                                    <div
                                        class="flex flex-col text-left h-full justify-between"
                                    >
                                        <span
                                            id="first-username"
                                            class="text-2xl font-semibold text-gray-800"
                                        ></span>
                                        <div
                                            class="text-md flex gap-24 font-semibold bg-custom-light px-4 py-2 rounded-lg text-gray-800"
                                        >
                                            <span id="first-score"></span>
                                            <div>
                                                <span id="first-games"></span>
                                                partite
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Secondo e Terzo classificato -->
                        <div class="grid grid-cols-2 gap-4">
                            <!-- Secondo -->
                            <div
                                class="bg-white rounded-lg py-6 px-4 mb-4 w-full"
                            >
                                <div class="flex justify-left">
                                    <div class="flex items-center w-full gap-4">
                                        <!-- Rank -->
                                        <div
                                            class="flex items-center justify-center px-2 py-2 rounded-lg bg-custom-light"
                                        >
                                            <span
                                                id="second-rank"
                                                class="text-2xl font-bold text-custom-blue"
                                            ></span>
                                        </div>

                                        <!-- Avatar -->
                                        <div
                                            class="w-20 h-20 border-2 rounded-lg border-custom-blue overflow-hidden"
                                        >
                                            <img
                                                id="second-avatar"
                                                src=""
                                                alt="Avatar"
                                                class="w-full h-full object-contain"
                                            />
                                        </div>

                                        <!-- Username + Stats -->
                                        <div
                                            class="flex flex-col flex-1 text-left h-full justify-between"
                                        >
                                            <span
                                                id="second-username"
                                                class="text-xl font-semibold text-gray-800"
                                            ></span>
                                            <div
                                                class="text-md flex justify-between font-semibold bg-custom-light px-4 py-2 rounded-lg text-gray-800"
                                            >
                                                <span id="second-score"></span>
                                                <div>
                                                    <span
                                                        id="second-games"
                                                    ></span>
                                                    partite
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Terzo -->
                            <div
                                class="bg-white rounded-lg py-6 px-4 mb-4 w-full"
                            >
                                <div class="flex justify-left">
                                    <div class="flex items-center w-full gap-4">
                                        <!-- Rank -->
                                        <div
                                            class="flex items-center justify-center px-2 py-2 rounded-lg bg-custom-light"
                                        >
                                            <span
                                                id="third-rank"
                                                class="text-2xl font-bold text-custom-blue"
                                            ></span>
                                        </div>

                                        <!-- Avatar -->
                                        <div
                                            class="w-20 h-20 border-2 rounded-lg border-custom-blue overflow-hidden"
                                        >
                                            <img
                                                id="third-avatar"
                                                src=""
                                                alt="Avatar"
                                                class="w-full h-full object-contain"
                                            />
                                        </div>

                                        <!-- Username + Stats -->
                                        <div
                                            class="flex flex-col flex-1 text-left h-full justify-between"
                                        >
                                            <span
                                                id="third-username"
                                                class="text-xl font-semibold text-gray-800"
                                            ></span>
                                            <div
                                                class="text-md flex justify-between font-semibold bg-custom-light px-4 py-2 rounded-lg text-gray-800"
                                            >
                                                <span id="third-score"></span>
                                                <div>
                                                    <span
                                                        id="third-games"
                                                    ></span>
                                                    partite
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="overflow-x-auto rounded-lg">
                        <table class="min-w-full text-sm text-gray-800">
                            <thead class="text-xs uppercase">
                                <tr>
                                    <th class="px-6 py-3 text-left w-[40%]">
                                        Rank
                                    </th>
                                    <th class="px-6 py-3 text-center w-[20%]">
                                        Giocatore
                                    </th>
                                    <th class="px-6 py-3 text-right w-[40%]">
                                        Punteggio
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="leaderboard-body">
                                <!-- Popolato da JS -->
                            </tbody>
                        </table>
                    </div>

                    <div
                        class="fixed bottom-0 left-0 right-0 bg-white z-10 shadow-lg"
                    >
                        <div
                            class="flex justify-center items-center gap-4 p-4 px-8"
                        >
                            <button
                                onclick="prevPage()"
                                id="prev"
                                class="bg-gray-700 hover:bg-gray-600 text-white text-xl font-semibold py-1 px-4 rounded cursor-pointer disabled:opacity-40"
                            >
                                ←
                            </button>
                            <span
                                id="page-number"
                                class="text-gray-800 font-medium"
                                >Page 1</span
                            >
                            <button
                                onclick="nextPage()"
                                id="next"
                                class="bg-gray-700 hover:bg-gray-600 text-white text-xl font-semibold py-1 px-4 rounded cursor-pointer"
                            >
                                →
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/leaderboard.js" defer></script>
    </body>
</html>
