<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <title>Document</title>
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <link href="/style/style.css" rel="stylesheet" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            rel="stylesheet"
        />

        <link href="/style/output.css" rel="stylesheet" />
    </head>
    <body>
        <div
            class="relative w-full h-screen flex items-start justify-center md:py-64 py-36"
        >
            <!-- Immagine sfondo interna -->
            <img
                src="/images/reading_platypus.png"
                class="absolute top-0 left-0 w-full h-full object-contain opacity-100 pointer-events-none z-0"
                alt="Reading Platypus"
            />
            <div
                class="absolute top-0 left-0 w-full flex justify-center mt-6 z-10"
            >
                <img
                    src="/images/wordrops_logo.png"
                    alt="Wordrops Logo"
                    class="w-48 lg:w-72"
                />
            </div>
            <!-- Modal Container -->
            <div class="modal rounded-lg w-128 h-128 p-8 z-10">
                <!-- Step 1: Username Selection -->
                <div
                    id="step1"
                    class="flex flex-col gap-24 step h-full w-full transition-opacity duration-500 opacity-100"
                >
                    <h2 class="text-2xl font-semibold mb-4 text-center">
                        Benvenuto.. chi sei?
                    </h2>
                    <div>
                        <input
                            type="text"
                            id="username"
                            class="w-full p-3 border border-gray-300 rounded-md mb-4"
                            placeholder="Scegli un username"
                        />
                        <button
                            id="confirmButton"
                            onclick="checkUsernameAndProceed()"
                            class="w-full p-3 bg-blue-400 text-white rounded-md"
                        >
                            Continua
                        </button>
                        <div
                            id="username-error"
                            class="opacity-0 mt-8 text-red-400 font-semibold text-center transition-opacity duration-600"
                        >
                            username già in uso..
                        </div>
                    </div>
                </div>

                <!-- Step 2: Avatar Selection -->
                <div
                    id="step2"
                    class="step h-full w-full hidden relative transition-opacity duration-500 opacity-100"
                >
                    <div class="relative flex-col w-auto">
                        <div
                            class="font-semibold text-gray-600 text-center text-xl mb-12"
                        >
                            Scegli un Avatar
                        </div>

                        <div
                            class="relative w-full h-full grid grid-cols-4 gap-4"
                        >
                            <input
                                type="hidden"
                                id="selectedAvatar"
                                name="avatar"
                                value=""
                            />

                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/panda-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(1)"
                                    data-name="panda-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/nami-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(2)"
                                    data-name="nami-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/luffy-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(3)"
                                    data-name="luffy-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/shanks-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(4)"
                                    data-name="shanks-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/boa-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(5)"
                                    data-name="boa-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/zoro-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(6)"
                                    data-name="zoro-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/chopper-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(7)"
                                    data-name="chopper-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/robin-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(9)"
                                    data-name="robin-icon-chibi"
                                />
                            </div>
                            <div
                                class="avatar md:w-24 md:h-24 w-16 h-16 rounded-full flex items-center justify-center cursor-pointer shadow-lg border-2 border-gray-300 transition-all duration-300 hover:border-gray-500 p-2 md:p-4"
                            >
                                <img
                                    src="/images/avatars/sanji-icon-chibi.png"
                                    class="avatar-image md:w-full md:h-full w-full h-full object-fit"
                                    onclick="selectAvatar(8)"
                                    data-name="sanji-icon-chibi"
                                />
                            </div>
                        </div>
                    </div>

                    <div
                        class="px-3 relative w-full flex flex-col text-center justify-center bottom-0 left-1/2 transform -translate-x-1/2 translate-y-12"
                    >
                        <button
                            id="confirm-profile"
                            onclick="confirmProfile()"
                            class="z-10 px-4 py-2 hidden text-white font-semibold mb-2 bg-blue-400 rounded-md hover:bg-blue-600 hover:shadow-lg transition-all duration-300 mx-auto"
                        >
                            CREA PROFILO
                        </button>
                        <button
                            id="back-to-step-1"
                            onclick="gobackToStep1()"
                            class="p-3 font-semibold mb-2 text-gray-600 rounded-md"
                        >
                            <i class="fas fa-arrow-left mr-2"></i> indietro
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/completeProfile.js" defer></script>
    </body>
</html>
