<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title> 
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="/js/checkAuth.js"></script>
</head>

<body>
    <div id="loading-overlay" class="fixed inset-0 flex items-center justify-center z-50 opacity-100 hidden transition-opacity duration-1000">
        <img class="w-full h-full object-cover" src="/images/gifs/book-loader-dashboard.gif" alt="Loading Animation">
    </div>
    <div id="pagewrap" class="w-full hidden">
        <div id="waiting-overlay" class="fixed inset-0 bg-black bg-opacity-90 flex items-center justify-center z-10 hidden">
            <div class="flex flex-col items-center">
                <div id="waiting-text" class="text-white text-2xl mb-4">
                    In attesa di altri giocatori...
                </div>
                <div id="waiting-gif" class="mb-4">
                    <img src="/images/gifs/queue-spinner.gif" alt="Waiting Gif" class="w-32 h-32">
                </div>
                <button id="queue-button" onclick="abandonQueue()" class="px-6 py-3 bg-red-500 text-white font-semibold text-lg rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
                    Abbandona
                </button>
            </div>
        </div>
        <div id="countdown-overlay" class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-10 hidden">
            <div class="flex flex-col items-center">
                <div id="countdown" class="text-white text-2xl mb-2">
                    Partita trovata, Inizio in:
                </div>
                <h2 id="countdown-seconds" class="text-red-600 text-9xl font-bold">10</h2>
                <button id="ready-btn" class="mt-40 px-6 py-3 bg-blue-500 text-white font-semibold text-lg rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                    Sono pronto
                </button>
            </div>
        </div>
        <div class="w-full h-screen flex flex-col items-center justify-top relative" style="background-image: url('/images/new-dashboard-bg.jpg'); background-size: cover; background-position: center;" >
            <div id="avatarContainer" class="hidden flex justify-center items-center p-50 fixed inset-0 bg-black z-10 bg-opacity-80">
                <button id="close-avatar-menu" class="absolute top-2 right-2 w-8 h-8 rounded-full bg-white text-black text-xl flex items-center justify-center">
                    X
                </button>
                <div class="flex flex-col justify-center items-center h-screen">
                    <div class="grid grid-cols-4 grid-rows-3 gap-4 p-6 rounded shadow-lg">
                        <div data-avatar="boa-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 border-2 border-transparent hover:border-red-500 cursor-pointer" >
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/boa-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="nami-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/nami-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="luffy-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/luffy-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="zoro-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/zoro-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="sanji-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/sanji-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="panda-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/panda-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="shanks-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/shanks-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="robin-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/robin-icon-chibi.png" alt="Avatar">
                        </div>
                        <div data-avatar="chopper-icon-chibi" class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer">
                            <img class="w-4/5 h-4/5 object-contain" src="/images/avatars/chopper-icon-chibi.png" alt="Avatar">
                        </div>
                    </div>
                    <button id="select-avatar-button" class="bg-blue-500 text-white py-2 px-4 rounded" disabled>Seleziona</button>
                </div>            
            </div>
            <div class="flex flex-row items-start justify-between rounded-lg gap-4">
                <button id="logout-button" onclick="logout()" class="mt-4 text-xs bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg mb-2 transition duration-300" >log out</button>
                <div class="username_container mb-20 p-4 px-10 bg-gray-900 bg-opacity-60 rounded-bl-lg rounded-br-lg inline-block">
                    <h2 id="username" class="text-white text-2xl font-extrabold"></h2>
                    <h4 id="userStatus"></h4>
                </div>
                <button id="toggle-slider" onclick="openAvatarMenu()" class="mt-4 text-xs bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-300">cambia avatar</button>
            </div>
            <div class="avatar-container">
                <img id="main-avatar" class="h-32 w-22" src="/images/avatars/luffy-icon-chibi.png" alt="">
            </div>
            <button id="queue-button" onclick="joinQueue()" class="hover-sound mt-40 bg-blue-700 border-4 border-white text-white font-semibold w-40 h-40 rounded-full flex items-center justify-center shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 transform hover:scale-105 hover:shadow-lg font-extrabold">NUOVA <br>PARTITA</button>
            <div class="absolute left-0 top-0 space-y-4 p-4">
                <div class="text-sm p-4 rounded-lg bg-white flex flex-col items-center justify-center font-bold shadow-md">
                    CLASSIFICHE
                </div>
                <div class="text-sm p-4 rounded-lg bg-white  flex flex-col items-center justify-center font-bold shadow-md">
                    ALTRO
                </div>
                <div class="text-sm p-4 rounded-lg bg-white flex flex-col items-center justify-center font-bold shadow-md">
                    STORIE SCRITTE
                </div>  
            </div>  
            <div class="absolute right-0 top-0 space-y-4 p-4">
                <div class="text-sm p-4 rounded-lg bg-green-500	 flex flex-col font-semibold shadow-md space-y-3">
                    <h3 class="text-sm font-bold text-black">AMICI</h3>
                    <form id="search-form" class="flex flex-col space-y-2">
                        <input
                            type="text"
                            id="search-input"
                            placeholder="Cerca un utente..."
                            class="p-2 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-blue-500 transition-all"
                        />
                    </form>
                    <div class="results" id="results"></div>
                </div>    
            </div>  
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/userSearch.js" defer></script>
    <audio id="click-sound" src="/images/button-hover-sound.mp3" preload="auto"></audio>
    <audio id="select-sound" src="/images/avatar-select-1.mp3" preload="auto"></audio>
    <audio id="select-sound-new-game" src="/images/new-game-sound.mp3" preload="auto"></audio>

</body>
</html>