<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Wordrops Dashboard – La piattaforma per scrivere e collaborare in
            tempo reale
        </title>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link href="/style/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="/swiper/swiper-bundle.min.css" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
            rel="stylesheet"
        />

        <script src="/js/checkAuth.js"></script>
    </head>

    <body class="h-screen">
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N6J3B7DJ"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        <div
            id="notification-container"
            class="fixed top-8 right-8 flex justify-center items-center z-50"
        ></div>

        <div
            id="overlay-books"
            class="fixed inset-0 w-full h-full bg-black bg-opacity-75 z-50 flex items-center justify-center p-8 transition-all duration-500 opacity-0 pointer-events-none translate-y-10"
        >
            <button
                onclick="closeBookOverlay()"
                class="absolute top-0 left-1/2 bg-red-600 text-white mt-4 font-bold px-4 py-2 rounded flex items-center justify-center shadow-lg hover:bg-red-700 transition duration-300"
            >
                ESCI
            </button>
            <div
                class="bg-white p-24 rounded-lg shadow-lg max-w-6xl w-full flex flex-col overflow-y-auto"
            >
                <!-- Prima parte: Immagine e informazioni libro -->
                <div class="flex">
                    <!-- Immagine del libro -->
                    <div class="w-1/3 flex justify-left items-start">
                        <img
                            src="/images/book-icon.png"
                            alt="Icona Libro"
                            class="w-48 h-64 rounded shadow-md"
                        />
                    </div>

                    <!-- Dettagli libro -->
                    <div class="w-2/3 flex flex-col">
                        <!-- Titolo -->
                        <h2 class="text-6xl font-bold" id="book-title">
                            Titolo del Libro
                        </h2>

                        <!-- Rating -->
                        <div class="flex items-center gap-2 mt-2">
                            <span class="text-lg font-semibold">Rating:</span>
                            <div id="book-rating" class="flex gap-1">
                                ⭐⭐⭐⭐⭐
                            </div>
                        </div>

                        <!-- Autori -->
                        <div class="mt-4">
                            <h3 class="text-lg font-semibold">Autori:</h3>
                            <div class="flex gap-4 mt-2">
                                <div class="flex flex-col items-center">
                                    <div
                                        class="w-12 h-12 bg-gray-300 rounded-full"
                                    ></div>
                                    <span class="text-sm mt-1">Utente1</span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <div
                                        class="w-12 h-12 bg-gray-300 rounded-full"
                                    ></div>
                                    <span class="text-sm mt-1">Utente2</span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <div
                                        class="w-12 h-12 bg-gray-300 rounded-full"
                                    ></div>
                                    <span class="text-sm mt-1">Utente3</span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <div
                                        class="w-12 h-12 bg-gray-300 rounded-full"
                                    ></div>
                                    <span class="text-sm mt-1">Utente4</span>
                                </div>
                                <div class="flex flex-col items-center">
                                    <div
                                        class="w-12 h-12 bg-gray-300 rounded-full"
                                    ></div>
                                    <span class="text-sm mt-1">Utente5</span>
                                </div>
                            </div>
                        </div>

                        <!-- Genere -->
                        <div class="mt-4">
                            <h3 class="text-lg font-semibold">Genere:</h3>
                            <p id="book-genre" class="text-gray-700">
                                Fantasy, Avventura
                            </p>
                        </div>

                        <!-- Descrizione -->
                        <div class="mt-4">
                            <h3 class="text-lg font-semibold">Descrizione:</h3>
                            <p id="book-summary" class="text-gray-700">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Seconda parte: Capitoli -->
                <div
                    class="pt-40 max-h-80 book-chapters-container flex flex-col gap-20"
                >
                    <!-- dynamic chapters -->
                </div>
            </div>
        </div>

        <div
            id="overlay-new-game"
            class="fixed inset-0 z-50 flex bg-black opacity-0 bg-opacity-100 transform translate-y-10 transition-all duration-500"
            style="display: none"
        >
            <button
                onclick="closeOverlay()"
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 z-50 -translate-y-1/2 bg-red-600 text-white font-bold w-16 h-16 rounded-full flex items-center justify-center shadow-lg hover:bg-red-700 transition duration-300"
            >
                ESCI
            </button>

            <div
                class="w-1/2 h-full flex items-center justify-center ml-auto relative group"
            >
                <img
                    id="img1"
                    class="absolute w-full h-full object-cover opacity-70 custom-filter"
                    src="/images/homepage-main-img.jpg"
                    alt="Normal Mode Background"
                />

                <!-- Contenitore dei pulsanti -->
                <div class="flex flex-col gap-10 items-center">
                    <button
                        id="new-game-button-normal-fast"
                        onclick="joinQueue('normal_fast')"
                        class="w-40 group-hover:opacity-100 transition opacity-0 duration-700 hover-sound text-sm bg-blue-600 border border-white text-white font-semibold px-10 py-6 rounded-xl shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transform hover:scale-105 hover:shadow-2xl font-extrabold relative group"
                    >
                        QUICK
                        <div
                            class="absolute -top-2 -right-1 translate-x-1/2 bg-red-500 px-2 text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition duration-300 rotate-12 transform"
                        >
                            30 MIN
                        </div>
                    </button>

                    <div
                        class="w-full text-center text-white text-6xl font-extrabold z-10"
                    >
                        NORMALE
                    </div>

                    <button
                        id="new-game-button-normal-slow"
                        onclick="joinQueue('normal_slow')"
                        class="w-40 group-hover:opacity-100 transition opacity-0 duration-700 hover-sound text-sm bg-blue-600 border border-white text-white font-semibold px-10 py-6 rounded-xl flex items-center justify-center shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transform hover:scale-105 hover:shadow-2xl font-extrabold relative group"
                    >
                        ENDURANCE
                        <div
                            class="absolute -top-2 -right-1 translate-x-1/2 bg-red-500 px-2 text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition duration-300 rotate-12 transform"
                        >
                            12 ORE
                        </div>
                    </button>
                </div>

                <!-- Testo NORMAL -->
            </div>

            <!-- Sezione destra -->

            <div
                class="w-1/2 h-full flex items-center justify-center ml-auto relative group"
            >
                <img
                    id="img2"
                    class="absolute w-full h-full object-cover custom-filter"
                    src="/images/write-web-app_register-image-version2.png"
                    alt="Normal Mode Background"
                />

                <!-- Contenitore dei pulsanti -->
                <div class="flex flex-col gap-10 items-center">
                    <button
                        id="new-game-button-ranked-fast"
                        onclick="joinQueue('ranked_fast')"
                        class="w-40 group-hover:opacity-100 transition opacity-0 duration-700 hover-sound text-sm bg-gradient-to-r from-purple-800 to-red-400 border border-white text-white font-semibold px-10 py-6 rounded-xl flex items-center justify-center shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transform hover:scale-105 hover:shadow-2xl font-extrabold relative group"
                    >
                        QUICK
                        <div
                            class="absolute -top-2 -right-1 translate-x-1/2 bg-red-500 px-2 text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition duration-300 rotate-12 transform"
                        >
                            30 MIN
                        </div>
                    </button>

                    <div
                        class="w-full text-center text-white text-6xl font-extrabold z-10"
                    >
                        CLASSIFICATA
                    </div>

                    <button
                        id="new-game-button-ranked-slow"
                        onclick="joinQueue('ranked_slow')"
                        class="w-40 group-hover:opacity-100 transition opacity-0 duration-700 hover-sound text-sm bg-gradient-to-r from-purple-800 to-red-400 border border-white text-white font-semibold px-10 py-6 rounded-xl flex items-center justify-center shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transform hover:scale-105 hover:shadow-2xl font-extrabold relative group"
                    >
                        ENDURANCE
                        <div
                            class="absolute -top-2 -right-1 translate-x-1/2 bg-red-500 px-2 text-white text-xs px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition duration-300 rotate-12 transform"
                        >
                            12 ORE
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div
            style="
                height: 30vh;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 2rem;
                padding-right: 2rem;
            "
        >
            <div class="flex-1 flex items-center justify-start h-full">
                <div style="padding: 10px; border-radius: 8px" class="relative">
                    <div
                        class="avatar-container relative flex flex-col justify-center items-center p-6 w-32 h-32 bg-white border border-gray-200 rounded-full"
                        style="box-shadow: -3px 3px rgba(0, 0, 0, 0.473)"
                    >
                        <img
                            id="main-avatar"
                            class="h-full w-auto object-contain"
                            src=""
                            alt=""
                        />
                        <div
                            class="absolute -mr-2 bottom-0 right-0 h-6 w-6 rounded-full bg-white"
                        >
                            <img
                                class="hover-rotate cursor-pointer"
                                src="/images/icons/change-avatar-icon.png"
                                onclick="openAvatarMenu()"
                                alt=""
                            />
                        </div>
                    </div>
                    <div
                        class="flex absolute -top-6 -right-10 flex-col justify-center items-center"
                    >
                        <div class="username_container inline-block">
                            <h2
                                id="username"
                                class="text-gray-800 text-4xl font-extrabold"
                            ></h2>
                            <h4 id="userStatus"></h4>
                        </div>
                    </div>
                    <div
                        id="status-div"
                        class="flex hidden items-center justify-center space-x-2 mt-4"
                    >
                        <!-- Testo con il pallino verde -->
                        <span class="text-sm font-semibold">Sei in game</span>
                        <span
                            id="game-status-indicator"
                            class="w-2 h-2 rounded-full bg-green-500"
                        ></span>
                    </div>
                </div>
            </div>

            <!-- Contenitore 2 -->
            <div class="flex-1 flex items-start justify-center h-full">
                <div
                    style="padding: 10px"
                    class="flex flex-col justify-center items-center h-full"
                >
                    <div
                        class="relative"
                        id="lottie-button"
                        onclick="openOverlay()"
                    >
                        <div id="lottie-book"></div>
                        <img
                            src="/images/pen.png"
                            alt=""
                            class="absolute w-12 right-6 top-6"
                        />
                    </div>
                    <h2 class="my-title text-2xl text-gray-800">
                        Nuova Storia
                    </h2>
                </div>
            </div>

            <!-- Contenitore 3 -->
            <div class="flex-1 flex items-start justify-end h-full">
                <div style="padding: 10px; border-radius: 8px">
                    <div
                        class="flex flex-col justify-center py-6 relative items-center gap-6"
                    >
                        <div class="flex justify-center items-center gap-4">
                            <div
                                class="flex justify-between px-8 border-2 rounded-full py-2 border-purple-200"
                            >
                                <div id="leaderboard-icon" class="px-4">
                                    <a
                                        href="/classifiche"
                                        class="button-container flex flex-col justify-center items-center"
                                    >
                                        <div>
                                            <img
                                                src="/images/icons/icons8-trofeo-48.png"
                                                alt="leaderboard Icon"
                                                class="icon-image"
                                            />
                                        </div>
                                        <div
                                            class="text-sm font-semibold text-gray-800"
                                        >
                                            classifiche
                                        </div>
                                    </a>
                                </div>

                                <div id="leaderboard-icon" class="px-4">
                                    <a
                                        href="/libreria"
                                        class="button-container flex flex-col justify-center items-center"
                                    >
                                        <div>
                                            <img
                                                src="/images/icons/library-icon.png"
                                                alt="library Icon"
                                                class="icon-image"
                                            />
                                        </div>
                                        <div
                                            class="text-sm font-semibold text-gray-800"
                                        >
                                            libreria
                                        </div>
                                    </a>
                                </div>
                                <div id="leaderboard-icon" class="px-4">
                                    <a
                                        class="button-container flex flex-col justify-center items-center cursor-pointer"
                                        onclick="dashboardButton()"
                                    >
                                        <div>
                                            <img
                                                src="/images/icons/icons8-casa-100.png"
                                                alt="Search Icon"
                                                class="icon-image"
                                            />
                                        </div>
                                        <div
                                            class="text-sm font-semibold text-gray-800"
                                        >
                                            dashboard
                                        </div>
                                    </a>
                                </div>
                                <div id="leaderboard-icon" class="px-4">
                                    <a
                                        id="search-icon"
                                        class="button-container absolute top-0 left-0 border-2 p-2 rounded-full border-blue-400 z-2 cursor-pointer"
                                        onclick="openSearch()"
                                    >
                                        <div>
                                            <img
                                                src="/images/icons/users-icon-menu.png"
                                                alt="Search Icon"
                                                class="w-6 h-6"
                                                class="icon-image"
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- HAMBURGER BUTTON -->
                            <div class="relative inline-block text-left">
                                <button
                                    onclick="toggleDropdown()"
                                    class="p-2 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none cursor-pointer"
                                >
                                    <!-- Hamburger Icon -->
                                    <svg
                                        class="w-6 h-6 cursor-pointer"
                                        fill="none"
                                        stroke="currentColor"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M4 6h16M4 12h16M4 18h16"
                                        ></path>
                                    </svg>
                                </button>

                                <!-- DROPDOWN -->
                                <div
                                    id="dropdownMenu"
                                    class="hidden absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-50"
                                >
                                    <div
                                        class="flex justify-between items-center px-4 py-2 text-red-600 hover:bg-red-100 w-full cursor-pointer"
                                        onclick="logout()"
                                    >
                                        <button
                                            class="w-full text-sm text-left text-red-600 hover:bg-red-100"
                                        >
                                            logout
                                        </button>
                                        <div class="w-6 h-6">
                                            <img
                                                class="cursor-pointer"
                                                src="/images/icons/logout-icon.png"
                                                alt="logout Icon"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            id="menu-container"
                            class="menu-wrapper w-full flex justify-center z-20"
                        >
                            <div
                                id="user-search-wrapper"
                                class="user-search-wrapper opacity-0"
                            >
                                <div class="relative">
                                    <div
                                        id="close-button"
                                        onclick="closeSearch()"
                                        class="absolute bg-white p-2 rounded-full w-6 h-6 top-0 right-0 cursor-pointer transform translate-x-1/2 -translate-y-1/2"
                                        onclick="document.getElementById('friend-search-wrapper').classList.add('hidden')"
                                    >
                                        <img
                                            src="/images/icons/x-icon.png"
                                            alt="close-search-user"
                                        />
                                    </div>
                                    <div
                                        class="text-xs px-3 py-2 rounded bg-green-400 flex flex-col font-medium shadow-sm"
                                    >
                                        <form
                                            id="search-form"
                                            class="flex flex-col space-y-1"
                                        >
                                            <input
                                                type="text"
                                                id="search-input"
                                                placeholder="Cerca un utente..."
                                                class="px-2 py-1 rounded border border-gray-300 focus:outline-none focus:border-blue-500 transition duration-200"
                                            />
                                        </form>
                                    </div>
                                    <div
                                        class="results my-2"
                                        id="results"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            style="
                height: 70vh;
                width: 100%;
                margin-top: 30vh;
                position: absolute;
                border-top-left-radius: 6rem;
                border-top-right-radius: 6rem;
                background-color: #faf4f4;
                box-shadow: 0 -10px 10px rgba(104, 104, 104, 0.15);
            "
        >
            <div
                class="swiper-container overflow-hidden"
                style="height: 100%; width: 100%"
            >
                <div class="swiper-wrapper" style="display: flex; height: 100%">
                    <div
                        class="swiper-slide flex relative items-start justify-center w-full flex-shrink-0 h-full"
                    >
                        <img
                            class="absolute bottom-0 right-0 w-1/4 opacity-10"
                            src="/images/platy-read.png"
                            alt="Platy Read"
                        />
                        <div id="ui-container" class="">
                            <div
                                class="flex flex-col justify-center items-center"
                            >
                                <h2
                                    class="text-gray-800 text-4xl my-12 font-bold text-center"
                                >
                                    Partite in Corso
                                </h2>
                                <div
                                    id="game-buttons-container"
                                    class="flex flex-wrap gap-4 mt-24"
                                ></div>
                                <div
                                    id="buttons-container"
                                    class="flex flex-wrap gap-12"
                                >
                                    <div
                                        class="game-container shadow-lg rounded-xl relative w-36 h-36 bg-white transition-all duration-300 hover:shadow-2xl hover:scale-105"
                                        id="game-1"
                                    ></div>
                                    <div
                                        class="game-container shadow-lg rounded-xl relative w-36 h-36 bg-white transition-all duration-300 hover:shadow-2xl hover:scale-105"
                                        id="game-2"
                                    ></div>
                                    <div
                                        class="game-container shadow-lg rounded-xl relative w-36 h-36 bg-white transition-all duration-300 hover:shadow-2xl hover:scale-105"
                                        id="game-3"
                                    ></div>
                                    <div
                                        class="game-container shadow-lg rounded-xl relative w-36 h-36 bg-white transition-all duration-300 hover:shadow-2xl hover:scale-105"
                                        id="game-4"
                                    ></div>
                                    <div
                                        class="game-container shadow-lg rounded-xl relative w-36 h-36 bg-white transition-all duration-300 hover:shadow-2xl hover:scale-105"
                                        id="game-5"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="swiper-slide flex-col items-start justify-center px-10 w-full flex-shrink-0 h-full"
                    >
                        <img
                            class="slide-imag absolute bottom-0 left-0 w-1/4 opacity-10"
                            src="/images/platy-win.png"
                            alt="Platy Read"
                        />
                        <h2
                            class="text-gray-800 text-4xl my-12 font-bold text-center"
                        >
                            Statistiche
                        </h2>
                        <div
                            class="statistics-container w-1/2 mx-auto p-6 bg-white rounded-lg shadow-lg"
                        >
                            <div
                                class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6"
                            >
                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-blue-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-book-open"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Storie Completate
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-yellow-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Media Voti Storie
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-red-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-trophy"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Ranking Attuale
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            #0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-green-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-medal"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Punteggio Medio Ranked
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-purple-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-gamepad"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Normal Games Giocati
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-orange-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-trophy"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Normal Games Vinti
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-teal-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-gamepad"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Ranked Games Giocati
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-red-400 text-2xl mb-2"
                                    >
                                        <i class="fas fa-trophy"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Ranked Games Vinti
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-yellow-600 text-2xl mb-2"
                                    >
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Storie Votate
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="relative stat-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:scale-105"
                                >
                                    <div
                                        class="stat-icon absolute -top-2 -left-2 text-pink-500 text-2xl mb-2"
                                    >
                                        <i class="fas fa-comment"></i>
                                    </div>
                                    <div
                                        class="stat-info text-center h-full w-full flex flex-col justify-center items-center"
                                    >
                                        <p
                                            class="text-sm font-semibold text-gray-600"
                                        >
                                            Storie Commentate
                                        </p>
                                        <p
                                            class="text-lg font-bold text-gray-800"
                                        >
                                            0
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="swiper-slide flex items-start justify-center px-10 w-full flex-shrink-0 h-full"
                    >
                        <img
                            class="absolute bottom-0 right-0 w-1/4 opacity-10"
                            src="/images/platy-library.png"
                            alt="Platy Read"
                        />
                        <div
                            class="w-full max-w-4xl mx-auto flex flex-col items-center justify-start"
                        >
                            <h2
                                class="text-gray-800 text-4xl my-12 font-bold text-center mb-8"
                            >
                                Libreria Personale
                            </h2>

                            <div
                                id="stories-container-wrapper"
                                class="hidden relative w-full max-w-6xl mx-auto flex justify-center mt-20 px-4"
                            ></div>
                        </div>
                    </div>
                    <div
                        class="swiper-slide flex flex-col items-center justify-center px-10 h-full w-full flex-shrink-0"
                    >
                        <h2
                            class="text-gray-800 text-4xl my-12 font-bold text-center"
                        >
                            Storie Completate
                        </h2>
                        <div
                            class="w-full h-full max-w-4xl scrollbar-hidden flex flex-col justify-start items-center overflow-y-auto px-4"
                        >
                            <div
                                id="stories-container"
                                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-8 w-full"
                            >
                                <!-- Qui vengono inserite le storie -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div
            id="new-popup-message"
            class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50"
        >
            <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                <p
                    id="new-popup-text"
                    class="text-center text-xl font-semibold text-gray-800"
                ></p>
                <button
                    id="new-popup-close"
                    class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full w-full"
                >
                    Chiudi
                </button>
            </div>
        </div>

        <div
            id="popup-message"
            class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center hidden z-50"
        >
            <div
                class="bg-white rounded-lg shadow-lg p-6 text-center max-w-sm w-full"
            >
                <p
                    id="popup-text"
                    class="text-lg font-semibold text-gray-800 mb-4"
                ></p>
                <button
                    id="popup-close"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded"
                >
                    Ok
                </button>
            </div>
        </div>

        <div
            id="loading-overlay"
            class="fixed inset-0 flex items-center justify-center z-50 opacity-100 hidden transition-opacity duration-1000"
        >
            <img
                class="w-full h-full object-cover"
                src="/images/gifs/book-loader-dashboard.gif"
                alt="Loading Animation"
            />
        </div>

        <div class="page-wrap p-6 relative min-h-screen">
            <!-- queue overlay -->
            <div
                id="waiting-overlay"
                class="fixed inset-0 bg-black bg-opacity-90 flex items-center justify-center z-10 hidden"
            >
                <div class="flex flex-col items-center">
                    <div id="waiting-text" class="text-white text-2xl mb-4">
                        In attesa di altri giocatori...
                    </div>
                    <div id="waiting-gif" class="mb-4">
                        <img
                            src="/images/gifs/queue-spinner.gif"
                            alt="Waiting Gif"
                            class="w-32 h-32"
                        />
                    </div>
                    <button
                        id="abandon-queue-button"
                        onclick="abandonQueue()"
                        class="px-6 py-3 bg-red-500 text-white font-semibold text-lg rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                    >
                        Abbandona
                    </button>
                </div>
            </div>

            <!-- preQueue overlay -->
            <div
                id="countdown-overlay"
                class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-10 hidden"
            >
                <div
                    id="game-ready-container"
                    class="flex flex-col items-center hidden"
                >
                    <h2 class="text-red-600 text-2xl font-bold">
                        TUTTI PRONTI
                    </h2>
                </div>
                <div
                    id="countdown-seconds-container"
                    class="flex flex-col items-center"
                >
                    <div id="countdown" class="text-white text-2xl mb-2">
                        Partita trovata, Inizio in:
                    </div>
                    <h2
                        id="countdown-seconds"
                        class="text-red-600 text-9xl font-bold"
                    >
                        10
                    </h2>
                    <button
                        id="ready-btn"
                        onclick="readyToPlay()"
                        class="mt-20 px-6 py-3 bg-blue-500 text-white font-semibold text-lg rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300"
                    >
                        SEI PRONTO?
                    </button>
                    <h2
                        id="pronto-text"
                        class="hidden text-red-400 mt-20 text-2xl font-bold"
                    >
                        PRONTO
                    </h2>
                </div>
            </div>

            <!-- avatars menu container -->
            <div
                id="avatarContainer"
                class="hidden flex justify-center items-center p-50 fixed inset-0 bg-black z-10 bg-opacity-80"
            >
                <div class="flex flex-col justify-center items-center h-screen">
                    <div
                        class="grid grid-cols-4 relative grid-rows-3 gap-4 p-6 rounded shadow-lg"
                    >
                        <button
                            id="close-avatar-menu"
                            class="absolute -top-2 -right-2 w-6 h-6 rounded-full bg-white text-black text-lg flex items-center justify-center"
                        >
                            X
                        </button>
                        <div
                            data-avatar="boa-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/boa-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="nami-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/nami-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="luffy-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/luffy-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="zoro-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/zoro-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="sanji-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/sanji-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="panda-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/panda-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="shanks-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/shanks-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="robin-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/robin-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                        <div
                            data-avatar="chopper-icon-chibi"
                            class="avatar w-20 h-20 bg-blue-200 flex items-center justify-center rounded bg-opacity-50 p-2 border-2 border-transparent hover:border-red-500 cursor-pointer"
                        >
                            <img
                                class="w-4/5 h-4/5 object-contain"
                                src="/images/avatars/chopper-icon-chibi.png"
                                alt="Avatar"
                            />
                        </div>
                    </div>
                    <button
                        id="select-avatar-button"
                        class="bg-blue-500 text-white py-2 px-4 rounded"
                        disabled
                    >
                        Seleziona
                    </button>
                </div>
            </div>

            <!-- menu container -->

            <!-- ui container -->
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/swiper/swiper-bundle.min.js"></script>
        <script src="/js/main.js" defer></script>
        <script src="/js/menu.js" defer></script>
        <script src="/js/personalLibrary.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.0/lottie.min.js"></script>

        <audio
            id="click-sound"
            src="/images/button-hover-sound.mp3"
            preload="auto"
        ></audio>
        <audio
            id="select-sound"
            src="/images/avatar-select-1.mp3"
            preload="auto"
        ></audio>
        <audio
            id="select-sound-new-game"
            src="/images/new-game-sound.mp3"
            preload="auto"
        ></audio>
    </body>
</html>
