<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="alternate" hreflang="it" href="https://wordrops.com/" />
        <link rel="alternate" hreflang="en" href="https://wordrops.com/en/" />
        <script type="text/javascript">
            var _iub = _iub || [];
            _iub.csConfiguration = {
                siteId: 4000663,
                cookiePolicyId: 64172027,
                lang: "en",
                storage: { useSiteId: true },
            };
        </script>
        <script
            type="text/javascript"
            src="https://cs.iubenda.com/autoblocking/4000663.js"
        ></script>
        <script
            type="text/javascript"
            src="//cdn.iubenda.com/cs/iubenda_cs.js"
            charset="UTF-8"
            async
        ></script>
        <title>
            Wordrops – The platform to write, collaborate, and compete in real
            time
        </title>
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />

        <!-- Descrizione e keyword per SEO -->
        <meta
            name="description"
            content="Wordrops is the platform where writing becomes a game. Collaborate with other writers, compete in creative challenges, climb leaderboards, and read unique stories. A one-of-a-kind interactive writing experience."
        />
        <meta name="author" content="Wordrops Team" />
        <meta
            name="keywords"
            content="creative writing, collaborative writing online, writing challenges, writing competitions, writing platform, collaborative stories, writing together, writing games, creative community, compete in writing, interactive storytelling"
        />

        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->

        <!-- Open Graph tags for Social Media -->
        <meta property="og:title" content="Wordrops" />
        <meta
            property="og:description"
            content="At Wordrops, writing becomes a collaborative game. Challenge others, join a creative community, have fun improving your skills, and climb the leaderboards."
        />
        <meta property="og:image" content="To be added after logo design" />
        <meta property="og:url" content="https://wordrops.com/en" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Wordrops" />

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "Wordrops",
                "url": "https://wordrops.com",
                "description": "Scrittura collaborativa e competitiva per creativi che amano sfide e comunità.",
                "sameAs": [
                    "https://www.facebook.com/wordrops",
                    "https://twitter.com/wordrops"
                ]
            }
        </script>

        <!-- Preconnect per font e risorse esterne -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <!-- TailwindCSS e stile personalizzato -->
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />

        <link href="/style/output.css" rel="stylesheet" />

        <link href="/style/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N6J3B7DJ"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>

        <div
            id="popup-beta-tester"
            class="fixed hidden inset-0 bg-black/40 flex justify-center items-center z-50"
        >
            <div
                class="bg-white relative rounded-lg p-6 w-auto max-w-full flex flex-col items-center gap-8 z-60"
            >
                <div class="md:flex-none">
                    <img
                        src="/images/wordrops_logo_animal.png"
                        alt="Wordrops Logo"
                        class="w-16"
                    />
                </div>

                <h3
                    id="popup-beta-tester-text"
                    class="text-md md:text-lg text-center font-semibold"
                ></h3>
            </div>
        </div>

        <div
            id="beta-form"
            class="hidden w-full h-screen items-center justify-center bg-black/40 fixed z-20"
        >
            <form
                id="waiting-list-form"
                class="relative bg-white p-6 rounded-lg shadow-lg w-[80%] md:w-full md:max-w-xl max-w-full"
            >
                <button
                    onclick="closeBetaForm()"
                    class="absolute font-semibold cursor-pointer top-0 right-0 transform translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-full bg-white text-black text-xl flex items-center justify-center"
                >
                    X
                </button>
                <h2
                    class="text-lg md:text-2xl font-bold text-gray-800 mb-4 md:mb-8 text-center"
                >
                    Join the Beta
                </h2>
                <div class="md:mb-8 mb-4">
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Name*"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    />
                </div>
                <div class="md:mb-8 mb-4">
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Email*"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    />
                </div>
                <div class="md:mb-8 mb-4">
                    <label
                        for="preferences"
                        class="block text-m font-medium text-gray-800 hidden"
                    >
                        What do you prefer?*
                    </label>
                    <select
                        id="preferences"
                        name="preferences"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    >
                        <option value="" disabled selected>
                            What do you prefer?*
                        </option>
                        <option value="scrivere">Write</option>
                        <option value="leggere">Read</option>
                        <option value="entrambi">Both</option>
                    </select>
                </div>
                <div class="md:mb-8 mb-4">
                    <label
                        for="gender"
                        class="block text-m font-medium text-gray-800 hidden"
                    >
                        Gender*
                    </label>
                    <select
                        id="gender"
                        name="gender"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    >
                        <option value="" disabled selected>Gender*</option>
                        <option value="uomo">Male</option>
                        <option value="donna">Female</option>
                        <option value="non specifico">Unspecified</option>
                    </select>
                </div>
                <div class="md:mb-8 mb-4">
                    <label
                        for="age_range"
                        class="block text-m font-medium text-gray-800 hidden"
                    >
                        Age Range*
                    </label>
                    <select
                        id="age_range"
                        name="age_range"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    >
                        <option value="" disabled selected>Your age*</option>
                        <option value="< 18">&lt;18</option>
                        <option value="19-25">19–25</option>
                        <option value="26-35">26–35</option>
                        <option value="36-50">36–50</option>
                        <option value="50+">50+</option>
                    </select>
                </div>

                <div class="flex items-center justify-left mb-2">
                    <label
                        class="text-[10px] md:text-sm font-medium text-gray-800 flex items-center gap-2"
                    >
                        <input
                            type="checkbox"
                            name="consenso"
                            id="consenso"
                            required
                            class="mr-2 rounded border-gray-300 focus:ring-indigo-500"
                        />
                        I consent to the processing of my personal data as
                        described in the privacy policy
                    </label>
                </div>
                <div class="flex justify-left md:mb-8 mb-4">
                    <a
                        href="/privacy-policy"
                        target="_blank"
                        class="custom-blue hover:underline"
                        >Privacy Policy</a
                    >
                </div>
                <button
                    type="submit"
                    class="w-full cursor-pointer bg-custom-blue text-white font-bold py-2 px-4 rounded-md shadow transform transition-all duration-300 hover:scale-105"
                >
                    BECOME A TESTER
                </button>
            </form>
        </div>
        <div id="menu" class="w-full z-50 sticky top-0 md:p-4 bg-white">
            <div
                class="flex relative flex-col md:flex-row justify-center w-full h-full items-center"
            >
                <div class="">
                    <img
                        src="/images/logo_wordrops_classic.svg"
                        alt="Wordrops Logo"
                        class="mx-auto lg:w-32 hidden md:w-28 md:block"
                    />
                </div>
                <!-- <div
                    class="flex flex-row items-center justify-between w-full md:w-auto gap-6 md:gap-2 p-4 md:p-0"
                >
                    <a
                        href="/register"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                    >
                        <div class="">registrati</div>
                    </a>
                    <div class="md:flex-none">
                        <img
                            src="/images/wordrops_logo_animal.png"
                            alt="Wordrops Logo"
                            class="w-16 md:hidden"
                        />
                    </div>
                    <a
                        href="/register"
                        class="card-container cursor-pointer font-semibold text-sm md:text-lg relative overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                    >
                        login
                    </a>
                </div> -->
            </div>
        </div>
        <div class="wrap pt-2 overflow-hidden">
            <div
                class="section mx-auto md:px-6 flex flex-col justify-center items-center"
            >
                <div class="relative flex-col justify-center md:my-6 my-4 px-4">
                    <div class="py-8 flex flex-col justify-center items-center">
                        <!-- <h1 class="text-center lg:text-7xl md:text-3xl text-3xl font-bold ">NO ORDINARY WRITERS</h1> -->
                        <h1
                            class="text-center md:pt-8 text-gray-800 pb-4 text-4xl md:text-6xl font-bold"
                        >
                            Time to Master the Art of Writing
                        </h1>
                        <h3
                            class="text-center md:py-2 text-gray-800 text-md md:text-xl font-bold"
                        >
                            The first platform to collaborate, compete, and
                            climb the leaderboards
                        </h3>
                        <div class="my-6">
                            <button
                                onclick="openBetaForm()"
                                id=""
                                class="cursor-pointer text-sm md:text-md card-container font-semibold bg-gradient-to-r from-purple-500 to-red-500 py-4 px-8 text-white rounded-md"
                            >
                                JOIN AS A BETA TESTER
                            </button>
                        </div>
                    </div>
                </div>

                <div class="relative flex items-center justify-center">
                    <div class="relative z-1 w-full md:w-[80%]">
                        <!-- Immagine per dispositivi mobili -->
                        <img
                            src="/images/landing-main-image.png"
                            alt="Immagine mobile"
                            class="md:hidden w-full h-2/3 object-cover md:h-auto md:max-h-screen"
                        />

                        <!-- Immagine per dispositivi medi o superiori -->
                        <img
                            src="/images/landing-main-image.png"
                            alt="Immagine desktop"
                            class="hidden md:block h-auto max-h-screen object-fill"
                        />
                    </div>
                </div>
            </div>
            <div class="px-6">
                <section class="md:py-48 py-24">
                    <div
                        class="flex flex-col justify-center items-center relative"
                    >
                        <div class="relative">
                            <h2
                                class="custom-blue text-center lg:text-6xl text-3xl font-bold mb-4 md:mb-10"
                            >
                                Want to Improve Your Writing?
                            </h2>
                        </div>
                        <h4
                            class="text-gray-800 text-center lg:text-3xl text-lg font-bold"
                        >
                            Nothing sharpens your writing skills like doing it
                            with others.
                            <span class="custom-blue relative">
                                <img
                                    class="absolute md:-top-10 -top-6 right-0 w-8 md:w-12 animate-bounce"
                                    src="/images/pen.png"
                                    alt=""
                                />Creativity</span
                            >
                            is trained here.
                        </h4>
                    </div>
                </section>
            </div>

            <div class="section-wrapper pt-40 px-6 bg-custom-blue">
                <section class="flex flex-col justify-center items-center">
                    <div
                        class="flex flex-col justify-center items-center w-full max-w-6xl mb-10 md:mb-20"
                    >
                        <div
                            class="rounded-2xl shadow-2xl overflow-hidden w-[50%] md:w-46"
                        >
                            <img
                                class="w-full"
                                src="/images/gifs/game_score.gif"
                                alt=""
                            />
                        </div>
                        <div class="mt-12 mb-6">
                            <h2
                                class="text-white text-center lg:text-4xl text-3xl font-bold"
                            >
                                Write, Collaborate, Compete!
                            </h2>
                        </div>
                        <div>
                            <button
                                onclick="openBetaForm()"
                                id=""
                                class="cursor-pointer text-sm md:text-md card-container font-semibold bg-gradient-to-r from-purple-500 to-red-500 py-4 px-8 text-white rounded-md"
                            >
                                JOIN AS A BETA TESTER
                            </button>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-1 md:grid-cols-2 md:gap-20 gap-14 max-w-6xl mx-auto md:px-4"
                    >
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/fire-icon.png"
                                alt=""
                            />
                            <div class="relative text-white">
                                <strong class="text-gray-800 font-extrabold"
                                    >Real-time collaborative writing:</strong
                                >
                                Create a story with 4 other writers where each
                                chapter is built in turns, weaving an
                                unpredictable plot.
                            </div>
                        </div>
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/star.png"
                                alt=""
                            />
                            <div class="relative text-white font-semibold">
                                <strong class="text-gray-800 font-extrabold"
                                    >Train your creativity:</strong
                                >
                                Make every paragraph a plot twist. The more you
                                surprise, the more you leave your mark.
                            </div>
                        </div>
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/stats-medal.png"
                                alt=""
                            />
                            <div class="relative text-white">
                                <strong class="text-gray-800 font-extrabold"
                                    >Writing challenges and
                                    leaderboards:</strong
                                >
                                Impress others with your skills and earn points
                                to climb the top ranks!
                            </div>
                        </div>
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/play-game.png"
                                alt=""
                            />
                            <div class="relative text-white">
                                <strong class="text-gray-800 font-extrabold"
                                    >Play your way:</strong
                                >
                                Competitive mode for challengers or relaxed mode
                                for those who just want to write and have fun.
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div
                        class="relative w-full md:h-screen py-40 md:py-2 flex items-center justify-center"
                    >
                        <div class="relative w-xl h-xl">
                            <div
                                class="flex justify-center items-center gap-4 p-14"
                            >
                                <div
                                    id="number-1"
                                    class="big-number text-red-500 font-bold"
                                >
                                    1
                                </div>
                                <div class="text-4xl font-bold">vs</div>
                                <div
                                    id="number-4"
                                    class="big-number text-red-500 font-bold"
                                >
                                    4
                                </div>
                            </div>
                            <div
                                class="absolute text-white md:-top-10 md:-left-60 -top-20 -left-2 mt-10 ml-10 md:text-5xl text-lg font-bold"
                            >
                                Collaborate
                            </div>
                            <div
                                class="absolute text-white md:-top-10 md:-right-60 -top-2 -right-2 mt-10 mr-10 text-lg text-right md:text-5xl font-bold"
                            >
                                Compete
                            </div>
                            <div
                                class="absolute text-white md:-bottom-10 md:-left-60 -bottom-20 -left-2 mb-10 ml-10 text-lg md:text-5xl font-bold"
                            >
                                Read
                            </div>
                            <div
                                class="absolute text-white md:-bottom-10 md:-right-60 -bottom-6 -right-2 mb-10 mr-10 text-lg text-right md:text-5xl font-bold"
                            >
                                Improvise
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="section pt-20 pb-20 px-6 bg-custom-blue">
                <section>
                    <h2
                        class="text-center lg:text-6xl text-4xl font-bold text-white mb-10"
                    >
                        CHOOSE YOUR PLAY STYLE
                    </h2>
                    <h3
                        class="text-center text-xl font-semibold mb-20 text-white"
                    >
                        What kind of writer are you? Do you love competition or
                        prefer to relax?
                    </h3>
                    <div
                        class="flex flex-col md:mt-40 mt-6 md:gap-20 gap-10 w-full mx-auto max-w-6xl"
                    >
                        <div
                            class="flex border-2 border-white p-2 md:w-3/5 rounded-md reveal-left"
                            id="top-container"
                        >
                            <div
                                class="flexflex-col gap-4 w-full rounded-md md:py-6 py-4 md:px-10 px-6 bg-white"
                            >
                                <div class="flex items-center mb-2 gap-4">
                                    <h2 class="text-3xl font-bold text-red-500">
                                        Ranked
                                        <span class="text-gray-800">Mode </span>
                                    </h2>
                                    <img
                                        src="/images/icons/icon1.png"
                                        alt="Icona Sfida"
                                        class="md:w-12 md:h-12 w-24 h-24"
                                    />
                                </div>
                                <p class="text-lg">
                                    For those who want to
                                    <strong
                                        >step up and prove themselves</strong
                                    >
                                    without fearing judgment. Beat the clock,
                                    earn points, and climb the
                                    <strong>writers’ leaderboard</strong>.
                                    Choose every word carefully in this
                                    adrenaline-fueled mode and find the
                                    <strong>winning writing formula</strong>.
                                </p>
                            </div>
                        </div>
                        <div
                            class="flex border-2 border-white p-2 md:w-3/5 ml-auto rounded-md reveal-right"
                            id="bottom-container"
                        >
                            <div
                                class="flexflex-col gap-4 w-full rounded-md md:py-6 py-4 md:px-10 px-6 bg-white"
                            >
                                <div class="flex items-center mb-2 gap-4">
                                    <h2
                                        class="text-3xl font-bold text-green-600"
                                    >
                                        Classic
                                        <span class="text-gray-800">Mode </span>
                                    </h2>
                                    <img
                                        src="/images/icons/icon2.png"
                                        alt="Icona Relax"
                                        class="md:w-12 md:h-12 w-24 h-24"
                                    />
                                </div>
                                <p class="text-lg">
                                    Write without pressure and enjoy the
                                    pleasure of
                                    <strong>collaborative writing</strong>. No
                                    scores, no rush, just pure creativity. Here,
                                    every chapter is an opportunity to express
                                    yourself, building unique stories together
                                    one chapter at a time.
                                </p>
                            </div>
                        </div>
                        <div class="w-full flex flex-col items-center">
                            <h3 class="font-semibold text-xl text-white">
                                And more exciting modes coming soon...
                            </h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="md:py-40 py-12 pt-20 relative">
            <div
                class="hidden md:block absolute top-1/2 md:right-0 md:h-3/5 h-full md:w-2/5 bg-contain bg-no-repeat opacity-10 transform -translate-y-1/2"
                style="background-image: url('/images/platy-read.png')"
            ></div>
            <div
                class="md:hidden absolute inset-0 bg-contain bg-no-repeat opacity-10 bg-center"
                style="background-image: url('/images/platy-read.png')"
            ></div>
            <!-- Primo container con titolo centrale -->
            <div class="text-center md:mb-8 mb-4">
                <h2
                    class="ls:text-6xl md:text-4xl text-3xl font-bold text-gray-800"
                >
                    HOW DOES IT WORK?
                </h2>
            </div>

            <!-- Quattro containers -->
            <div
                class="grid grid-cols-1 md:grid-cols md:gap-20 gap-4 max-w-5xl mx-auto md:mt-40 mt-6"
            >
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            1
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            Join the story
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            Jump in with 4 other unknown writers and start
                            creating a unique story. Each time, the plot unfolds
                            unpredictably — this is the perfect chance to
                            challenge your creativity! Get ready to be surprised
                            with every new chapter.
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            2
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            Write your chapter
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            When it’s your turn, you’ll have a set time to add
                            your personal touch to the story. But beware: each
                            chapter must weave seamlessly with the previous
                            ones. Build on others’ creativity and push the plot
                            forward with your unique style. Every word counts to
                            keep the flow alive!
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            3
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            The story is complete
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            After 5 rounds, your team will have crafted an epic
                            story (hopefully). Depending on the mode you chose,
                            the game plays out differently.
                        </p>
                        <br />
                        <p class="text-lg">
                            <span class="text-red-500 text-lg font-bold"
                                >Ranked:</span
                            >
                            Rate others’ chapters and get rated yourself. Every
                            impactful contribution earns you points to climb the
                            global leaderboard.
                        </p>
                        <p class="text-lg">
                            <br /><span class="text-green-500 text-lg font-bold"
                                >Classic:</span
                            >
                            No votes, no scores. Just the joy of writing and
                            having fun together, no pressure.
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            4
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            Challenge your creativity
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            Every completed story and chapter you write helps
                            you climb the leaderboard and prove to everyone who
                            the <strong>best storyteller</strong> is. On this
                            platform,
                            <strong>collaboration and competition</strong>
                            always go hand in hand!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="relative md:py-40 py-24 pt-20 p-4 md:p-12">
            <div
                class="content-top flex flex-col gap-12 items-start justify-between relative z-10 max-w-7xl mx-auto"
            >
                <div
                    class="flex flex-col w-full lg:w-[50%] justify-center items-center lg:justify-start lg:items-start gap-4"
                >
                    <h2 class="ls:text-6xl md:text-4xl text-3xl font-bold">
                        Community Stories
                    </h2>
                    <p class="md:w-[75%] text-center text-lg lg:text-left">
                        Read stories written by other players. Take a break,
                        follow your favorite authors, vote for stories, share
                        them, and get inspired by creativity.
                    </p>
                    <a
                        href="/storie-community"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-custom-blue font-medium text-white duration-500"
                    >
                        <div class="">Explore Stories</div>
                    </a>
                </div>
                <div class="relative w-full m-auto xl:min-w-[50%]">
                    <img
                        class="w-24 md:w-32 xl:w-54 absolute lg:-top-8 right-0 lg:-right-8"
                        src="/images/storia_pic.png"
                        alt=""
                    />
                    <img
                        class="w-full"
                        src="/images/community_pic.png"
                        alt=""
                    />
                </div>
            </div>
        </section>

        <section class="relative md:py-40 py-24 pt-20 p-4 md:p-12">
            <div
                class="content-top flex flex-col xl:flex-row gap-12 items-start justify-between relative z-10 max-w-7xl mx-auto"
            >
                <div class="relative w-full m-auto xl:max-w-[40%]">
                    <img
                        class="w-full"
                        src="/images/classifiche_pic.png"
                        alt=""
                    />
                </div>

                <div
                    class="flex flex-col -order-1 xl:order-0 w-full lg:w-[50%] justify-center items-center lg:justify-start lg:items-start gap-4"
                >
                    <h2 class="ls:text-6xl md:text-4xl text-3xl font-bold">
                        Leaderboards
                    </h2>
                    <p class="md:w-[75%] text-center text-lg lg:text-left">
                        Ready to compete? Challenge other writers and track your
                        progress over time. Soon, weekly and monthly prizes will
                        be awarded to the most deserving writers!
                    </p>
                    <a
                        href="/classifiche"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-custom-blue font-medium text-white duration-500"
                    >
                        <div class="">Go to Leaderboards</div>
                    </a>
                </div>
            </div>
        </section>
        <section
            class="relative md:py-40 py-24 pt-20 p-4 md:p-12 bg-custom-blue"
        >
            <div
                class="content-top flex flex-col gap-12 items-start justify-between relative z-10 max-w-7xl mx-auto"
            >
                <div
                    class="relative w-full flex flex-col justify-center items-center gap-8"
                >
                    <h2
                        class="ls:text-6xl md:text-4xl text-3xl font-bold text-white text-center"
                    >
                        A complete hub <br />
                        for writers and readers
                    </h2>
                    <p
                        class="md:w-[75%] lg:w-[50%] text-center text-lg text-white font-semibold mb-10 md:mb-14 lg:mb-20"
                    >
                        Wordrops is more than just a game: write stories, read
                        community creations, share, follow other users, improve
                        your skills, vote on stories, chat with writers in-game,
                        and much, much more...
                    </p>

                    <img
                        class="w-full md:w-[75%] lg:w-[50%]"
                        src="/images/hub_pic.png"
                        alt=""
                    />
                    <div class="my-6">
                        <button
                            onclick="openBetaForm()"
                            id=""
                            class="cursor-pointer text-sm md:text-md card-container font-semibold bg-gradient-to-r from-purple-500 to-red-500 py-4 px-8 text-white rounded-md"
                        >
                            JOIN AS A BETA TESTER
                        </button>
                    </div>
                    <!-- <a
                        href="/register"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                    >
                        <div class="">registrati</div>
                    </a> -->
                </div>
            </div>
        </section>
        <section class="md:py-12 py-6 px-4 relative w-full bg-custom-light">
            <footer class="text-gray-800 py-6">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                        <!-- Link ai Termini e Privacy -->
                        <div
                            class="flex flex-col justify-center md:items-center items-start"
                        >
                            <div class="flex-col justify-center items-start">
                                <h3 class="font-semibold text-lg mb-4">
                                    Legal Info
                                </h3>
                                <ul class="text-sm">
                                    <li class="mb-2">
                                        <a
                                            href="/termini-e-condizioni"
                                            class="hover:text-blue-500 font-semibold py-4"
                                            target="_blank"
                                            >Terms And Conditions</a
                                        >
                                    </li>
                                    <li class="mb-2">
                                        <a
                                            href="/privacy-policy"
                                            class="hover:text-blue-500 font-semibold py-4"
                                            target="_blank"
                                            >Privacy Policy</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Supporto -->
                        <div class="flex flex-col justify-center items-center">
                            <div class="flex-col justify-center items-start">
                                <h3 class="font-semibold text-lg mb-2">
                                    Support
                                </h3>
                                <p class="text-sm">
                                    For any question or issue, don't esitate to
                                    contact us via email:
                                </p>
                                <a
                                    href="mailto:support@wordrops.com"
                                    class="text-blue-500 hover:text-blue-700"
                                    >support@wordrops.com</a
                                >
                            </div>
                        </div>

                        <!-- Copyright -->
                        <div
                            class="col-span-1 sm:col-span-2 lg:col-span-4 text-center mt-4 sm:mt-0"
                        >
                            <p class="text-sm">
                                © 2025 wordrops. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <script src="/js/homepageEn.js"></script>
    </body>
</html>
