<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Ordinary Writers</title>
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
    <div id="beta-form" class=" hidden w-full h-screen flex items-center justify-center bg-black bg-opacity-60 fixed z-20">

        <form id="waiting-list-form" class="relative bg-white p-6 rounded-lg shadow-lg w-full md:max-w-xl max-w-full">
            <button onclick="closeBetaForm()" class="absolute top-4 right-4 w-8 h-8 rounded-full bg-white text-black text-xl flex items-center justify-center">
                X
            </button>
            <h2 class="text-2xl font-bold text-gray-800 mb-8 text-center">Unisciti alla lista d'attesa</h2>
            <div class="md:mb-8 mb-4">
                <input type="text" id="name" name="name" placeholder="Nome*" required 
                class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none">
            </div>
            <div class="md:mb-8 mb-4">
                <input type="email" id="email" name="email" placeholder="Email*" required 
                    class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none">
            </div>
            <div class="md:mb-8 mb-4">
                <label for="preferences" class="block text-m font-medium text-gray-700">Cosa preferisci?*</label>
                <select id="preferences" name="preferences" required 
                class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none">
                    <option value="" disabled selected>scegli..</option>
                    <option value="scrivere">Scrivere</option>
                    <option value="leggere">Leggere</option>
                    <option value="entrambi">Entrambi</option>
                </select>
            </div>   
            <div class="md:mb-8 mb-4">
                <label for="gender" class="block text-m font-medium text-gray-700">Genere*</label>
                <select id="gender" name="gender" required 
                class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none">
                    <option value="" disabled selected>scegli..</option>
                    <option value="uomo">Uomo</option>
                    <option value="donna">Donna</option>
                    <option value="non specifico">Non specifico</option>
                </select>
            </div>
            <div class="md:mb-8 mb-4">
                <label for="age_range" class="block text-m font-medium text-gray-700">Fascia di età*</label>
                <select id="age_range" name="age_range" required 
                class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none">
                    <option value="" disabled selected>scegli..</option>
                    <option value="&lt; 18">&lt;18</option>
                    <option value="19-25">19-25</option>
                    <option value="26-35">26-35</option>
                    <option value="36-50">36-50</option>
                    <option value="50+">50+</option>
                </select>
            </div>
            <div class="flex items-center justify-left mb-2">
                <label class="text-sm font-medium text-gray-700 flex items-center gap-2">
                    <input type="checkbox" name="consenso" id="consenso" required class="mr-2 rounded border-gray-300 focus:ring-indigo-500">
                    Acconsento al trattamento dei miei dati personali come descritto nell'informativa. 
                </label>
            </div>
            <div class="flex justify-left md:mb-8 mb-4">
                <a href="/privacy-policy" target="_blank" class="text-indigo-600 hover:underline">Informativa sulla privacy</a>.
            </div>
            <button type="submit" 
                class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-md shadow">
                Unisciti alla lista d'attesa
            </button>
        </form>
    </div>
    <div class="wrap pt-6 overflow-hidden">
        <div class="section mx-auto px-6">
            <div class="relative my-10">
                <h1 class="text-center text-7xl font-bold font-consolas">NO ORDINARY <br> WRITERS</h1>
                <div class="absolute top-0 right-0">
                    <button id="registerButton" class="bg-gradient-to-r from-purple-500 to-red-500 py-2 px-4 font-consolas text-white rounded-md shadow-lg hover:shadow-2xl transition duration-300">
                        REGISTRATI
                    </button>                    
                </div>
            </div>
            <div class="relative">
                
                <div class="fire-background-container absolute top-0 left-0 w-full h-full z-10">
                    <video class="w-full h-full object-cover mix-blend-screen" autoplay loop muted>
                        <source src="/images/fire-bg-video.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="relative z-1">
                    <img src="/images/homepage-main-img.jpg" alt="Immagine" class="w-full h-auto max-h-screen object-cover">
                </div>
                <div class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex-col ">
                    <div class="z-3 text-center text-l text-white font-bold mb-4">beta tester?</div>

                    <div class="button-container z-3 p-1 border-2 border-white rounded-md">
                        <button onclick="openBetaForm()" class="beta-button bg-white text-xl text-blue-500 px-4 py-2 rounded-md font-bold hover:bg-blue-100 transition duration-300 cursor-pointer">
                            ENTRA IN LISTA
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapper pt-40  px-6">            
            <section >
                <h2 class="reveal-on-scroll text-center text-6xl font-bold mb-20 opacity-0 transform translate-y-10 transition duration-700">La prima piattaforma <br> per scrittori creativi</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-20 max-w-6xl mx-auto px-4">
                   <div class="font-consolas text-xl">
                        <strong><span class="relative"><div class="absolute border-2 border-blue-500 h-10 w-16  top-0 transform  -translate-x-8 -translate-y-2"></div>
                            Scrittura</span> Collaborativa:</strong> Gioca e sfida altre 4 persone e 
                            contribuisci alla stessa storia, capitolo dopo capitolo!
                    </div> 
                    <div class="font-consolas text-xl">
                        <strong><span class="relative"><div class="absolute border-2 border-blue-500 h-10 w-16  top-0 transform  -translate-x-8 -translate-y-2"></div>
                            Espandi</span> la tua creatività:</strong> Ogni capitolo è un’opportunità 
                            per essere originale e fare la differenza nella trama.
                    </div>
                    <div class="font-consolas text-xl">
                        <strong><span class="relative"><div class="absolute border-2 border-blue-500 h-10 w-16  top-0 transform  -translate-x-8 -translate-y-2"></div>
                            Scala</span> le classifiche:</strong> Fai vibrare la tastiera, crea capitoli 
                            esaltanti e guadagna punti per raggiungere la vetta!
                    </div>
                    <div class="font-consolas text-xl">
                        <strong><span class="relative"><div class="absolute border-2 border-blue-500 h-10 w-16  top-0 transform  -translate-x-8 -translate-y-2"></div>
                            Scegli</span> il tuo stile:</strong> Competitiva, con punteggi e classifiche, 
                        o vuoi giocare rilassato, senza stress? Tua la scelta.
                    </div>
                    
                </div>
            </section>
            <section >
                <div class="relative w-full h-screen flex items-center justify-center">
                     <div class="relative w-xl h-xl">
                        <div class="flex flex-column items-center gap-4 p-14">
                            <div id="number-1" class="big-number text-red-500 font-bold font-consolas">1</div>
                            <div class="text-3xl font-bold font-consolas">vs</div>
                            <div id="number-4" class="big-number text-red-500 font-bold font-consolas">4</div>
                        </div>
                        <div class="absolute -top-20 -left-80 mt-10 ml-10 text-5xl font-bold font-consolas">Collabora</div>
                        <div class="absolute -top-20 -right-80 mt-10 mr-10 text-lg text-right text-5xl font-bold font-consolas">Competi</div>
                        <div class="absolute -bottom-20 -left-80 mb-10 ml-10 text-lg text-5xl font-bold font-consolas">Leggi</div>
                        <div class="absolute -bottom-20 -right-80 mb-10 mr-10 text-lg text-right text-5xl font-bold font-consolas">Improvvisa</div>
                     </div>                
                </div>            
            </section>            
        </div>
        <div class="section pt-40 pb-40 bg-blue-500">
            <section >
                <h2 class="reveal-on-scroll text-center text-6xl font-bold text-white font-consolas opacity-0 transform translate-y-6 transition duration-700">
                    SCEGLI IL TUO STILE DI GIOCO</h2>
                <h3 class="text-center text-xl mb-20 font-consolas text-white">Che tipo di giocatore sei, rilassato o competitivo?<br> Varie opzioni da provare, e presto molte altre in arrivo</h3>
                <div class="flex flex-col mt-40 gap-20 w-full mx-auto max-w-6xl">
                    <div class="flex border-2 border-white p-2 w-3/5 rounded-md reveal-left" id="top-container">
                        <div class="flexflex-col gap-4 w-full rounded-md py-6 px-10 bg-white">
                            <div class="flex  items-center gap-4 ">
                                <h2 class="text-3xl font-bold font-consolas">Modalità <span class="text-red-600">Sfida</span></h2>
                                <img src="/images/icons/icon1.png" alt="Icona Sfida" class="w-12 h-12">
                            </div>
                            <p>Competi contro il tempo, guadagna punti e scala le classifiche. Ideale per chi cerca competizione e ha il pennino di fuoco.</p>
                        </div>
                    </div>
                    <div class="flex  border-2 border-white p-2 w-3/5 ml-auto rounded-md reveal-right" id="bottom-container">
                        <div class="flexflex-col gap-4 w-full rounded-md py-6 px-10 bg-white">
                            <div class="flex items-center gap-4">
                                <h2 class="text-3xl font-bold font-consolas">Modalità <span class="text-green-600">Relax</span></h2>
                                <img src="/images/icons/icon2.png" alt="Icona Relax" class="w-12 h-12">
                            </div>
                            <p>Nessuna fretta, nessun punteggio. Solo il piacere di scrivere, rilassarsi e creare insieme una storia epica.</p>
                        </div>
                    </div>
                </div>
            </section>  
        </div>
    </div>
    <section class="py-40 relative">
        <div 
        class="absolute top-1/2 right-0 h-3/5 w-2/5 bg-contain bg-no-repeat opacity-5 transform -translate-y-1/2" 
        style="background-image: url('/images/books-bg.png');">
      </div>
        <!-- Primo container con titolo centrale -->
        <div class="text-center mb-8">
          <h2 class="text-6xl font-bold text-gray-800 font-consolas">MA COME FUNZIONA?</h2>
        </div>
      
        <!-- Quattro containers -->
        <div class="grid grid-cols-1 md:grid-cols gap-24 max-w-5xl mx-auto mt-40">
            <div class="flex items-start gap-12">
                <div class="flex px-4 relative ">
                    <img src="/images/blue-frame.png" alt="Frame" class="absolute inset-0 w-full h-full object-contain -z-10 overflow-visible">
                    <p class="text-black px-4 py-2 text-8xl font-bold">1</p>
                </div>
                <div class="flex-col">
                    <h3 class="text-2xl font-semibold mb-4 text-gray-800 font-consolas">Unisciti alla storia</h3>
                    <p class="text-gray-600 font-consolas">Ti unirai a 4 giocatori sconosciuti per creare insieme una storia unica.
                        Non hai idea di come la trama si svilupperà: è proprio questa imprevedibilità che metterà alla prova la tua inventiva!
                        </p>
                </div>
            </div>
            <div class="flex items-start gap-12">
                <div class="flex px-4 relative ">
                    <img src="/images/purple-frame.png" alt="Frame" class="absolute inset-0 w-full h-full object-contain -z-10 overflow-visible">
                    <p class="text-black px-4 py-2 text-8xl font-bold">2</p>
                </div>
                <div class="flex-col">
                    <h3 class="text-2xl font-semibold mb-4 text-gray-800 font-consolas">Scrivi il tuo capitolo</h3>
                    <p class="text-gray-600 font-consolas">Quando arriva il tuo turno, hai 30 minuti per aggiungere il tuo tocco personale alla storia. Ma attenzione: ogni capitolo deve intrecciarsi con quelli precedenti. Costruisci sulla creatività degli altri e rendi la trama ancora più epica. Non vuoi essere tu a spezzare il flow, vero?
                    </p>
                </div>
            </div>
            <div class="flex items-start gap-12">
                <div class="flex px-4 relative ">
                    <img src="/images/green-frame.png" alt="Frame" class="absolute inset-0 w-full h-full object-contain -z-10 overflow-visible">
                    <p class="text-black px-4 py-2 text-8xl font-bold">3</p>
                </div>
                <div class="flex-col">
                    <h3 class="text-2xl font-semibold mb-4 text-gray-800 font-consolas">La storia è completa</h3>
                    <p class="text-gray-600 font-consolas">Dopo 5 turni, la vostra creazione è finita! A seconda della modalità scelta:</p> <br>
                    <p class="text-gray-600 font-consolas"><span class="text-red-500 font-bold">Competitiva:</span> puoi votare i capitoli degli altri giocatori e ricevere voti sul tuo. Più il tuo contributo è di impatto, più punti guadagni, scalando così la classifica globale.
                    <br><span class="text-green-500 font-bold">Normale:</span> niente voti né stress, solo il piacere di scrivere e divertirsi insieme</p></br>
                </div>
            </div>
            <div class="flex items-start gap-12">
                <div class="flex px-4 relative ">
                    <img src="/images/orange-frame.png" alt="Frame" class="absolute inset-0 w-full h-full object-contain -z-10 overflow-visible">
                    <p class="text-black px-4 py-2 text-8xl font-bold">4</p>
                </div>
                <div class="flex-col">
                    <h3 class="text-2xl font-semibold mb-4 text-gray-800 font-consolas">Sfida la tua creatività</h3>
                    <p class="text-gray-600 font-consolas">Ogni storia completata, ogni capitol scritto, ti fa . Salta in cima alla classifica globale e dimostra a tutti chi è il miglior narratore, ma ricorda: collaborazione e competizione vanno di pari passo!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-20 relative">
        <img 
        src="/images/wave-background.png" 
        alt="background" 
        class="absolute inset-0 w-full h-full object-cover overflow-hidden">    
        <div class="content-top flex flex-col items-center justify-center relative z-10 max-w-5xl mx-auto h-screen">
            <img src="/images/icon-3.png" alt="icon" class="mb-20 w-48 h-48 sm:w-36 sm:h-36">
            <h2 class="mb-6 reveal-on-scroll text-center text-6xl font-bold font-consolas opacity-0 transform translate-y-6 transition duration-700">
                ANCHE OLTRE LA SCRITTURA
            </h2>
            <div>
                <p class="text-center text-xl font-consolas mb-6">Oltre a poter scrivere e competere, potrai prenderti anche una pausa, rilassarti, e passare del tempo a leggere tutte le storie create dalla comunità.</p>
                <p class="text-center text-xl mb-20 font-consolas">Che tu voglia ridere, emozionarti o semplicemente passare del tempo in tranquillità, ci sarà sempre una storia pronta a sorprenderti completamente originale.</p>

            </div>
            <div class="flex-col ">
                <div class="z-3 text-center text-l text-blue-400 font-bold mb-4">beta tester?</div>
    
                <div class="button-container z-3 p-1 border-2 border-blue-400 rounded-md">
                    <button onclick="openBetaForm()" class="beta-button bg-blue-400 text-xl text-white px-4 py-2 rounded-md font-bold hover:bg-blue-600 transition duration-300 cursor-pointer">
                        ENTRA IN LISTA
                    </button>
                </div>
            </div>        
        </div>
    </section>
<script src="/js/homepage.js"></script>
</body>
</html>