<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="alternate" hreflang="en" href="https://wordrops.com/" />
        <link rel="alternate" hreflang="it" href="https://wordrops.com/it/" />
        <link rel="alternate" hreflang="es" href="https://wordrops.com/es/" />

        <script>
            if (location.hostname === "wordrops.com") {
                var script = document.createElement("script");
                script.src =
                    "https://cmp.osano.com/QlJmn7IrlA/70225bcf-c11e-4f67-acf4-0cf029ad9f3b/osano.js";
                document.head.appendChild(script);
            }
        </script>

        <title>
            Wordrops – La plataforma para escribir, colaborar y competir en
            tiempo real
        </title>
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />

        <!-- Descrizione e keyword per SEO -->
        <meta
            name="description"
            content="Wordrops es la plataforma donde escribir se convierte en un juego. Colabora con otros escritores, compite en desafíos creativos, escala el ranking y descubre historias únicas. Una experiencia interactiva de escritura sin igual."
        />
        <meta name="author" content="Wordrops Team" />
        <meta
            name="keywords"
            content="escritura creativa, escritura colaborativa online, desafíos de escritura, concursos de escritura, plataforma de escritura, historias colaborativas, escribir en grupo, juegos de escritura, comunidad creativa, competir escribiendo, narrativa interactiva"
        />

        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->

        <!-- Open Graph tags for Social Media -->
        <meta property="og:title" content="Wordrops" />
        <meta
            property="og:description"
            content="En Wordrops, escribir se convierte en un juego colaborativo. Reta a otros, únete a una comunidad creativa, diviértete mejorando tus habilidades y sube en la clasificación."
        />
        <meta
            property="og:image"
            content="https://wordrops.com/images/wordrops_share_image.png"
        />
        <meta property="og:url" content="https://wordrops.com/es" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Wordrops" />

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "Wordrops",
                "url": "https://wordrops.com",
                "description": "Escritura colaborativa y competitiva para creativos que aman los desafíos y la comunidad.",
                "sameAs": [
                    "https://www.facebook.com/wordrops",
                    "https://twitter.com/wordrops"
                ]
            }
        </script>

        <!-- Preconnect per font e risorse esterne -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <!-- TailwindCSS e stile personalizzato -->
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />

        <link href="/style/output.css" rel="stylesheet" />

        <link href="/style/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N6J3B7DJ"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>

        <div
            id="popup-beta-tester"
            class="fixed hidden inset-0 bg-black/40 flex justify-center items-center z-50"
        >
            <div
                class="bg-white relative rounded-lg p-6 w-auto max-w-full flex flex-col items-center gap-8 z-60"
            >
                <div class="md:flex-none">
                    <img
                        src="/images/wordrops_logo_animal.png"
                        alt="Wordrops Logo"
                        class="w-16"
                    />
                </div>

                <h3
                    id="popup-beta-tester-text"
                    class="text-md md:text-lg text-center font-semibold"
                ></h3>
            </div>
        </div>

        <div
            id="beta-form"
            class="hidden w-full h-screen items-center justify-center bg-black/40 fixed z-20"
        >
            <form
                id="waiting-list-form"
                data-lang="es"
                class="relative bg-white p-6 rounded-lg shadow-lg w-[80%] md:w-full md:max-w-xl max-w-full"
            >
                <button
                    onclick="closeBetaForm()"
                    class="absolute font-semibold cursor-pointer top-0 right-0 transform translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-full bg-white text-black text-xl flex items-center justify-center"
                >
                    X
                </button>
                <h2
                    class="text-lg md:text-2xl font-bold text-gray-800 mb-4 md:mb-8 text-center"
                >
                    Únete a la Beta
                </h2>
                <div class="md:mb-8 mb-4">
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Nombre*"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    />
                </div>
                <div class="md:mb-8 mb-4">
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Email*"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    />
                </div>
                <div class="md:mb-8 mb-4">
                    <label
                        for="preferences"
                        class="block text-m font-medium text-gray-800 hidden"
                    >
                        ¿Qué prefieres?*
                    </label>
                    <select
                        id="preferences"
                        name="preferences"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    >
                        <option value="" disabled selected>
                            ¿Qué prefieres?*
                        </option>
                        <option value="scrivere">Escribir</option>
                        <option value="leggere">Leer</option>
                        <option value="entrambi">Ambos</option>
                    </select>
                </div>
                <div class="md:mb-8 mb-4">
                    <label
                        for="gender"
                        class="block text-m font-medium text-gray-800 hidden"
                    >
                        Género*
                    </label>
                    <select
                        id="gender"
                        name="gender"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    >
                        <option value="" disabled selected>Género*</option>
                        <option value="uomo">Hombre</option>
                        <option value="donna">Mujer</option>
                        <option value="non specifico">Sin especificar</option>
                    </select>
                </div>
                <div class="md:mb-8 mb-4">
                    <label
                        for="age_range"
                        class="block text-m font-medium text-gray-800 hidden"
                    >
                        Rango de edad*
                    </label>
                    <select
                        id="age_range"
                        name="age_range"
                        required
                        class="block w-full py-2 pr-2 border-b-2 border-gray-200 placeholder-gray-600 focus:outline-none"
                    >
                        <option value="" disabled selected>Tu edad*</option>
                        <option value="< 18">&lt;18</option>
                        <option value="19-25">19–25</option>
                        <option value="26-35">26–35</option>
                        <option value="36-50">36–50</option>
                        <option value="50+">50+</option>
                    </select>
                </div>

                <div class="flex items-center justify-left mb-2">
                    <label
                        class="text-[10px] md:text-sm font-medium text-gray-800 flex items-center gap-2"
                    >
                        <input
                            type="checkbox"
                            name="consenso"
                            id="consenso"
                            required
                            class="mr-2 rounded border-gray-300 focus:ring-indigo-500"
                        />
                        Consiento el tratamiento de mis datos personales tal
                        como se describe en la política de privacidad
                    </label>
                </div>
                <div class="flex justify-left md:mb-8 mb-4">
                    <a
                        href="/privacy-policy?lang=es"
                        target="_blank"
                        class="custom-blue hover:underline"
                        >Política de privacidad</a
                    >
                </div>
                <button
                    type="submit"
                    class="w-full cursor-pointer bg-custom-blue text-white font-bold py-2 px-4 rounded-md shadow transform transition-all duration-300 hover:scale-105"
                >
                    CONVIÉRTETE EN TESTER
                </button>
            </form>
        </div>
        <div
            id="menu"
            class="w-full z-50 sticky top-0 md:p-4 bg-white py-4 px-6"
        >
            <div
                class="flex relative flex-row justify-center w-full h-full items-center"
            >
                <div
                    id="reveal-logo"
                    class="mr-auto pointer-events-none opacity-0 transition-opacity duration-500"
                >
                    <img
                        src="/images/logo_wordrops_classic.svg"
                        alt="Wordrops Logo"
                        class="w-18 lg:w-32 md:w-28 md:block"
                    />
                </div>
                <div
                    id="central-logo"
                    class="opacity-100 transition-opacity duration-500 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                >
                    <img
                        src="/images/logo_wordrops_classic.svg"
                        alt="Wordrops Logo"
                        class="w-18 lg:w-32 md:w-28 md:block"
                    />
                </div>
                <div
                    id="beta-tester-reveal"
                    class="ml-auto block pointer-events-none opacity-0 transition-opacity duration-500 lg:absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2"
                >
                    <button
                        onclick="openBetaForm()"
                        id=""
                        class="cursor-pointer text-xs md:text-md card-container font-semibold bg-gradient-to-r from-purple-500 to-red-500 py-4 px-4 lg:py-4 lg:px-8 text-white rounded-md"
                    >
                        ÚNETE COMO BETA TESTER
                    </button>
                </div>
                <!-- <div
                    class="flex flex-row items-center justify-between w-full md:w-auto gap-6 md:gap-2 p-4 md:p-0"
                >
                    <a
                        href="/register"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                    >
                        <div class="">registrati</div>
                    </a>
                    <div class="md:flex-none">
                        <img
                            src="/images/wordrops_logo_animal.png"
                            alt="Wordrops Logo"
                            class="w-16 md:hidden"
                        />
                    </div>
                    <a
                        href="/register"
                        class="card-container cursor-pointer font-semibold text-sm md:text-lg relative overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                    >
                        login
                    </a>
                </div> -->
            </div>
        </div>
        <div class="wrap overflow-hidden">
            <div
                id="above-the-fold"
                class="section mx-auto md:px-6 flex flex-col justify-center items-center"
            >
                <div class="relative flex-col justify-center md:my-6 px-4">
                    <div class="py-8 flex flex-col justify-center items-center">
                        <!-- <h1 class="text-center lg:text-7xl md:text-3xl text-3xl font-bold ">NO ORDINARY WRITERS</h1> -->
                        <h1
                            class="text-center md:pt-8 text-gray-800 pb-4 text-4xl md:text-6xl font-bold"
                        >
                            Dominar el Arte de Escribir
                        </h1>
                        <h3
                            class="text-center md:py-2 text-gray-800 text-lg md:text-xl font-bold"
                        >
                            La primera plataforma para colaborar, competir y
                            subir en el ranking
                        </h3>
                        <div class="my-6">
                            <button
                                onclick="openBetaForm()"
                                id=""
                                class="cursor-pointer text-sm md:text-md card-container font-semibold bg-gradient-to-r from-purple-500 to-red-500 py-4 px-8 text-white rounded-md"
                            >
                                ÚNETE COMO BETA TESTER
                            </button>
                        </div>
                    </div>
                </div>

                <div class="relative flex items-center justify-center">
                    <div class="relative z-1 w-full md:w-[80%]">
                        <!-- Immagine per dispositivi mobili -->
                        <img
                            src="/images/above-the-fold-spanish.webp"
                            alt="Immagine mobile"
                            class="md:hidden w-full h-2/3 object-cover md:h-auto md:max-h-screen"
                            loading="lazy"
                        />

                        <!-- Immagine per dispositivi medi o superiori -->
                        <img
                            src="/images/above-the-fold-spanish.webp"
                            alt="Immagine desktop"
                            class="hidden md:block h-auto max-h-screen object-fill"
                            loading="lazy"
                        />
                    </div>
                </div>
            </div>
            <div class="px-6">
                <section class="md:py-48 py-24">
                    <div
                        class="flex flex-col justify-center items-center relative"
                    >
                        <div class="relative">
                            <h2
                                class="custom-blue text-center lg:text-6xl text-3xl font-bold mb-4 md:mb-10"
                            >
                                ¿Quieres mejorar tu escritura?
                            </h2>
                        </div>
                        <h4
                            class="text-gray-800 text-center lg:text-3xl text-lg font-bold"
                        >
                            Nada afila tus habilidades como hacerlo con otros.
                            <span class="custom-blue relative">
                                <img
                                    class="absolute md:-top-10 -top-6 right-0 w-8 md:w-12 animate-bounce"
                                    src="/images/pen.png"
                                    alt=""
                                />La creatividad</span
                            >
                            se entrena aquí.
                        </h4>
                    </div>
                </section>
            </div>

            <div class="section-wrapper pt-40 px-6 bg-custom-blue">
                <section class="flex flex-col justify-center items-center">
                    <div
                        class="flex flex-col justify-center items-center w-full max-w-6xl mb-10 md:mb-20"
                    >
                        <div
                            class="rounded-2xl shadow-2xl overflow-hidden w-[50%] md:w-46"
                        >
                            <img
                                class="w-full"
                                src="/images/gifs/gif-newscore-spanish.gif"
                                alt=""
                            />
                        </div>
                        <div class="mt-12 mb-6">
                            <h2
                                class="text-white text-center lg:text-4xl text-3xl font-bold"
                            >
                                ¡Escribe, colabora, compite!
                            </h2>
                        </div>
                        <div>
                            <button
                                onclick="openBetaForm()"
                                id=""
                                class="cursor-pointer text-sm md:text-md card-container font-semibold bg-gradient-to-r from-purple-500 to-red-500 py-4 px-8 text-white rounded-md"
                            >
                                ÚNETE COMO BETA TESTER
                            </button>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-1 md:grid-cols-2 md:gap-20 gap-14 max-w-6xl mx-auto md:px-4"
                    >
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/fire-icon.png"
                                alt=""
                            />
                            <div class="relative text-white">
                                <strong class="text-gray-800 font-extrabold"
                                    >Escritura colaborativa en tiempo
                                    real:</strong
                                >
                                Crea una historia con otros 4 escritores, donde
                                cada capítulo se construye por turnos, hilando
                                una trama impredecible.
                            </div>
                        </div>
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/star.png"
                                alt=""
                            />
                            <div class="relative text-white font-semibold">
                                <strong class="text-gray-800 font-extrabold"
                                    >Entrena tu creatividad:</strong
                                >
                                Haz que cada párrafo sorprenda. Cuanto más
                                impactes, más huella dejarás.
                            </div>
                        </div>
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/stats-medal.png"
                                alt=""
                            />
                            <div class="relative text-white">
                                <strong class="text-gray-800 font-extrabold"
                                    >Retos de escritura y
                                    clasificaciones:</strong
                                >
                                Impresiona con tu estilo y gana puntos para
                                escalar posiciones!
                            </div>
                        </div>
                        <div class="md:text-xl text-lg flex flex-row gap-4">
                            <img
                                class="size-6"
                                src="/images/icons/play-game.png"
                                alt=""
                            />
                            <div class="relative text-white">
                                <strong class="text-gray-800 font-extrabold"
                                    >Juega a tu manera:</strong
                                >
                                Modo competitivo para retadores o modo relax
                                para escribir tranquilo y pasarlo bien.
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div
                        class="relative w-full md:h-screen py-40 md:py-2 flex items-center justify-center"
                    >
                        <div class="relative w-xl h-xl">
                            <div
                                class="flex justify-center items-center gap-4 p-14"
                            >
                                <div
                                    id="number-1"
                                    class="big-number text-red-500 font-bold"
                                >
                                    1
                                </div>
                                <div class="text-4xl font-bold">vs</div>
                                <div
                                    id="number-4"
                                    class="big-number text-red-500 font-bold"
                                >
                                    4
                                </div>
                            </div>
                            <div
                                class="absolute text-white md:-top-10 md:-left-60 -top-20 -left-2 mt-10 ml-10 md:text-5xl text-lg font-bold"
                            >
                                Colabora
                            </div>
                            <div
                                class="absolute text-white md:-top-10 md:-right-60 -top-2 -right-2 mt-10 mr-10 text-lg text-right md:text-5xl font-bold"
                            >
                                Compite
                            </div>
                            <div
                                class="absolute text-white md:-bottom-10 md:-left-60 -bottom-20 -left-2 mb-10 ml-10 text-lg md:text-5xl font-bold"
                            >
                                Lee
                            </div>
                            <div
                                class="absolute text-white md:-bottom-10 md:-right-60 -bottom-6 -right-2 mb-10 mr-10 text-lg text-right md:text-5xl font-bold"
                            >
                                Improvisa
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="section pt-20 pb-20 px-6 bg-custom-blue">
                <section>
                    <h2
                        class="text-center lg:text-6xl text-4xl font-bold text-white mb-10"
                    >
                        ELIGE TU ESTILO DE JUEGO
                    </h2>
                    <h3
                        class="text-center text-xl font-semibold mb-20 text-white"
                    >
                        ¿Qué tipo de escritor eres? ¿Amas la competición o
                        prefieres relajarte?
                    </h3>
                    <div
                        class="flex flex-col md:mt-40 mt-6 md:gap-20 gap-10 w-full mx-auto max-w-6xl"
                    >
                        <div
                            class="flex border-2 border-white p-2 md:w-3/5 rounded-md reveal-left"
                            id="top-container"
                        >
                            <div
                                class="flexflex-col gap-4 w-full rounded-md md:py-6 py-8 md:px-10 px-6 bg-white"
                            >
                                <div class="flex items-center mb-6 gap-4">
                                    <h2 class="text-3xl font-bold text-red-500">
                                        Ranked
                                        <span class="text-gray-800">Mode </span>
                                    </h2>
                                    <img
                                        src="/images/icons/icon1.png"
                                        alt="Icona Sfida"
                                        class="md:size-12 size-10"
                                    />
                                </div>
                                <p class="text-lg">
                                    Para quienes quieren
                                    <strong
                                        >demostrar de lo que son capaces</strong
                                    >
                                    sin miedo a ser juzgados. Vence al reloj,
                                    gana puntos y sube en la
                                    <strong>clasificación de escritores</strong
                                    >. Elige cada palabra con cuidado en este
                                    modo lleno de adrenalina y encuentra la
                                    <strong>fórmula ganadora</strong>.
                                </p>
                            </div>
                        </div>
                        <div
                            class="flex border-2 border-white p-2 md:w-3/5 ml-auto rounded-md reveal-right"
                            id="bottom-container"
                        >
                            <div
                                class="flexflex-col gap-4 w-full rounded-md md:py-6 py-8 md:px-10 px-6 bg-white"
                            >
                                <div class="flex items-center mb-6 gap-4">
                                    <h2
                                        class="text-3xl font-bold text-green-600"
                                    >
                                        Classic
                                        <span class="text-gray-800">Mode </span>
                                    </h2>
                                    <img
                                        src="/images/icons/icon2.png"
                                        alt="Icona Relax"
                                        class="md:size-12 size-10"
                                    />
                                </div>
                                <p class="text-lg">
                                    Escribe sin presión y disfruta del placer de
                                    la
                                    <strong>escritura colaborativa</strong>. Sin
                                    puntos, sin prisa, solo pura creatividad.
                                    Aquí, cada capítulo es una oportunidad para
                                    expresarte y construir historias únicas
                                    juntos, capítulo por capítulo.
                                </p>
                            </div>
                        </div>
                        <div class="w-full flex flex-col items-center">
                            <h3
                                class="font-semibold text-center text-xl text-white"
                            >
                                Y más modos emocionantes muy pronto...
                            </h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="md:py-40 py-12 pt-20 relative">
            <div
                class="hidden md:block absolute top-1/2 md:right-0 md:h-3/5 h-full md:w-2/5 bg-contain bg-no-repeat opacity-10 transform -translate-y-1/2"
                style="background-image: url('/images/platy-read.png')"
            ></div>
            <div
                class="md:hidden absolute inset-0 bg-contain bg-no-repeat opacity-10 bg-center"
                style="background-image: url('/images/platy-read.png')"
            ></div>
            <!-- Primo container con titolo centrale -->
            <div class="text-center md:mb-8 mb-4">
                <h2
                    class="ls:text-6xl md:text-4xl text-3xl font-bold text-gray-800"
                >
                    ¿CÓMO FUNCIONA?
                </h2>
            </div>

            <!-- Quattro containers -->
            <div
                class="grid grid-cols-1 md:grid-cols md:gap-20 gap-4 max-w-5xl mx-auto md:mt-40 mt-6"
            >
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            1
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            Únete a la historia
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            Entra con 4 escritores desconocidos y empieza a
                            crear una historia única. Cada vez la trama se
                            desenvuelve de forma impredecible — ¡es tu
                            oportunidad para retar tu creatividad! Prepárate
                            para sorprenderte con cada nuevo capítulo.
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            2
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            Escribe tu capítulo
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            Cuando llegue tu turno, tendrás un tiempo limitado
                            para darle tu toque personal a la historia. Pero
                            ojo: cada capítulo tiene que encajar con lo
                            anterior. Aprovecha lo que han escrito los demás y
                            haz avanzar la trama con tu estilo. ¡Cada palabra
                            cuenta para que todo fluya!
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            3
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            La historia está completa
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            Después de 5 rondas, tu equipo habrá creado una
                            historia épica (con suerte). Según el modo que hayas
                            elegido, la partida cambia totalmente.
                        </p>
                        <br />
                        <p class="text-lg">
                            <span class="text-red-500 text-lg font-bold"
                                >Ranked:</span
                            >
                            Tus capítulos se puntúan automáticamente por el
                            sistema. Cuanto más impacto y creatividad tengas,
                            más puntos ganas para subir en el ranking global.
                        </p>
                        <p class="text-lg">
                            <br /><span class="text-green-500 text-lg font-bold"
                                >Classic:</span
                            >
                            Sin votos, sin puntuaciones. Solo el placer de
                            escribir juntos y pasarlo bien, sin presiones.
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start md:gap-6 md:p-2 p-8 ls:p-0"
                >
                    <div class="flex relative gap-4 items-baseline">
                        <p class="text-black md:text-6xl text-3xl font-bold">
                            4
                        </p>
                        <h3
                            class="text-xl lg:text-3xl font-semibold mb-4 text-gray-800"
                        >
                            Reta tu creatividad
                        </h3>
                    </div>
                    <div class="flex-col">
                        <p class="text-lg">
                            Cada historia terminada y cada capítulo que escribas
                            te ayuda a subir en el ranking y demostrar quién es
                            el <strong>mejor narrador</strong>. En esta
                            plataforma, la
                            <strong>colaboración y la competencia</strong>
                            siempre van de la mano.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="multilanguage-section relative md:py-40 py-24 pt-20 p-4 md:p-12"
        >
            <div
                class="content-top flex flex-col gap-12 items-center justify-between relative z-10 max-w-7xl mx-auto"
            >
                <div class="text-center md:mb-8 mb-4">
                    <h2
                        class="ls:text-6xl md:text-4xl text-3xl font-bold text-gray-800"
                    >
                        Diferentes <span class="text-red-500">Modos</span>
                        <br />
                        y Suporte
                        <span class="text-custom-blue">Multilanguage</span>
                    </h2>
                </div>
                <div class="w-full max-w-6xl mx-auto">
                    <div
                        class="block md:grid grid-cols-3 grid-rows-2 gap-4 md:grid md:grid-cols-3 md:grid-rows-2"
                    >
                        <!-- Box 1: col 1-2, row 1 -->
                        <div
                            class="relative col-span-2 row-start-1 h-[40vh] md:h-100"
                        >
                            <img
                                src="/images/multilanguage_desktop.png"
                                alt="Multilanguage Support"
                                class="absolute hidden md:block inset-0 w-full h-full object-cover"
                            />
                            <img
                                src="/images/multilanguage_mobile.png"
                                alt="Multilanguage Support"
                                class="absolute rounded-2xl border-2 border-gray-300 md:hidden inset-0 w-full h-full object-cover"
                            />
                        </div>

                        <!-- Box 2: col 3, row 1 -->
                        <div
                            class="relative hidden md:block col-start-3 row-start-1 h-40 md:h-100"
                        >
                            <img
                                src="/images/game-writing-spanish.png"
                                alt="Multilanguage Support"
                                class="absolute hidden md:block inset-0 w-full h-full object-cover"
                            />
                        </div>

                        <!-- Box 3: col 1, row 2 -->
                        <div
                            class="relative hidden md:block col-start-1 row-start-2 h-40 md:h-100"
                        >
                            <img
                                src="/images/game-chat-mode.png"
                                alt="Multilanguage Support"
                                class="absolute hidden md:block inset-0 w-full h-full object-cover"
                            />
                        </div>

                        <!-- Box 4: col 2-3, row 2 -->
                        <div
                            class="relative hidden md:block col-span-2 col-start-2 row-start-2 h-40 md:h-100"
                        >
                            <img
                                src="/images/story-page-italian.png"
                                alt="Multilanguage Support"
                                class="absolute hidden md:block inset-0 w-full h-full object-cover"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="relative md:py-40 py-24 pt-20 p-4 md:p-12">
            <div
                class="content-top flex flex-col gap-12 items-start justify-between relative z-10 max-w-7xl mx-auto"
            >
                <div
                    class="flex flex-col w-full lg:w-[50%] justify-center items-center lg:justify-start lg:items-start gap-4"
                >
                    <h2
                        class="text-center ls:text-6xl md:text-4xl text-3xl font-bold"
                    >
                        Historias de la comunidad
                    </h2>
                    <p class="md:w-[75%] text-center text-lg lg:text-left">
                        Lee historias escritas por otros jugadores. Tómate un
                        descanso, sigue a tus autores favoritos, vota las
                        historias, compártelas y déjate inspirar por la
                        creatividad.
                    </p>
                    <a
                        href="/stories-library"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-custom-blue font-medium text-white duration-500"
                    >
                        <div class="">Explora historias</div>
                    </a>
                </div>
                <div class="relative w-full m-auto xl:min-w-[50%]">
                    <img
                        class="w-full"
                        src="/images/community-pic-spanish.png"
                        alt=""
                    />
                </div>
            </div>
        </section>

        <section class="relative md:py-40 py-24 pt-20 p-4 md:p-12">
            <div
                class="content-top flex flex-col xl:flex-row gap-12 items-start justify-between relative z-10 max-w-7xl mx-auto"
            >
                <div class="relative w-full m-auto xl:max-w-[40%]">
                    <img
                        class="w-full"
                        src="/images/leaderboards-pic.png"
                        alt=""
                    />
                </div>

                <div
                    class="flex flex-col -order-1 xl:order-0 w-full lg:w-[50%] justify-center items-center lg:justify-start lg:items-start gap-4"
                >
                    <h2 class="ls:text-6xl md:text-4xl text-3xl font-bold">
                        Clasificaciones
                    </h2>
                    <p class="md:w-[75%] text-center text-lg lg:text-left">
                        ¿Listo para competir? Reta a otros escritores y sigue tu
                        progreso con el tiempo. ¡Pronto habrá premios semanales
                        y mensuales para los escritores más destacados!
                    </p>
                    <a
                        href="/leaderboards"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-custom-blue font-medium text-white duration-500"
                    >
                        <div class="">Ir a las clasificaciones</div>
                    </a>
                </div>
            </div>
        </section>
        <section
            class="relative md:py-40 py-24 pt-20 p-4 md:p-12 bg-custom-blue"
        >
            <div
                class="content-top flex flex-col gap-12 items-start justify-between relative z-10 max-w-7xl mx-auto"
            >
                <div
                    class="relative w-full flex flex-col justify-center items-center gap-8"
                >
                    <h2
                        class="ls:text-6xl md:text-4xl text-3xl font-bold text-white text-center"
                    >
                        Un centro completo <br />
                        para escritores y lectores
                    </h2>
                    <p
                        class="md:w-[75%] lg:w-[50%] text-center text-lg text-white font-semibold mb-10 md:mb-14 lg:mb-20"
                    >
                        Wordrops es mucho más que un juego: escribe historias,
                        lee creaciones de la comunidad, comparte, sigue a otros
                        usuarios, mejora tus habilidades, vota historias, chatea
                        con escritores dentro del juego, y mucho, mucho más...
                    </p>

                    <img
                        class="w-full md:w-[75%] lg:w-[50%]"
                        src="/images/hub_pic.png"
                        alt=""
                    />
                    <div class="my-6">
                        <button
                            onclick="openBetaForm()"
                            id=""
                            class="cursor-pointer text-sm md:text-md card-container font-semibold bg-gradient-to-r from-purple-500 to-red-500 py-4 px-8 text-white rounded-md"
                        >
                            ÚNETE COMO BETA TESTER
                        </button>
                    </div>
                    <!-- <a
                        href="/register"
                        class="card-container px-5 py-2.5 md:flex-none text-sm md:text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                    >
                        <div class="">registrati</div>
                    </a> -->
                </div>
            </div>
        </section>
        <section class="md:py-12 py-6 px-4 relative w-full bg-custom-light">
            <footer class="text-gray-800 py-6">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                        <!-- Link ai Termini e Privacy -->
                        <div
                            class="flex flex-col justify-center md:items-center items-start"
                        >
                            <div class="flex-col justify-center items-start">
                                <h3 class="font-semibold text-lg mb-4">
                                    Información legal
                                </h3>
                                <ul class="text-sm">
                                    <li class="mb-2">
                                        <a
                                            href="/terms-and-conditions?lang=es"
                                            class="hover:text-blue-500 font-semibold py-4"
                                            target="_blank"
                                            >Términos y condiciones</a
                                        >
                                    </li>
                                    <li class="mb-2">
                                        <a
                                            href="/privacy-policy?lang=es"
                                            class="hover:text-blue-500 font-semibold py-4"
                                            target="_blank"
                                            >Política de privacidad</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Supporto -->
                        <div class="flex flex-col justify-center items-center">
                            <div class="flex-col justify-center items-start">
                                <h3 class="font-semibold text-lg mb-2">
                                    Soporte
                                </h3>
                                <p class="text-sm">
                                    Para cualquier pregunta o problema, no dudes
                                    en contactarnos por email:
                                </p>
                                <a
                                    href="mailto:support@wordrops.com"
                                    class="text-blue-500 hover:text-blue-700"
                                    >support@wordrops.com</a
                                >
                            </div>
                        </div>

                        <!-- Copyright -->
                        <div
                            class="col-span-1 sm:col-span-2 lg:col-span-4 text-center mt-4 sm:mt-0"
                        >
                            <p class="text-sm">
                                © 2025 wordrops. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <script src="/js/homepage.js"></script>
    </body>
</html>
