<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript">
            var _iub = _iub || [];
            _iub.csConfiguration = {
                siteId: 4000663,
                cookiePolicyId: 64172027,
                lang: "it",
                storage: { useSiteId: true },
            };
        </script>
        <script
            type="text/javascript"
            src="https://cs.iubenda.com/autoblocking/4000663.js"
        ></script>
        <script
            type="text/javascript"
            src="//cdn.iubenda.com/cs/iubenda_cs.js"
            charset="UTF-8"
            async
        ></script>
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link href="/style/output.css" rel="stylesheet" />
        <link href="/style/style.css" rel="stylesheet" />
        <title>privacy policy</title>
    </head>
    <body class="bg-gray-50 text-gray-800">
        <div class="mx-auto">
            <!-- Header -->
            <header
                class="text-center py-12 px-4 sm:px-6 lg:px-8"
                style="background-color: #faf4f4"
            >
                <h1 class="text-3xl font-bold text-gray-800">
                    Informativa sulla Privacy
                </h1>
            </header>

            <div
                class="flex flex-col justify-center items-center px-4 sm:px-6 lg:px-8"
            >
                <!-- Content -->
                <div class="py-8 max-w-4xl">
                    <!-- Introduzione -->
                    <section class="py-8">
                        <p class="text-lg text-gray-700 mb-12">
                            La presente Informativa sulla Privacy descrive come
                            <strong>Wordrops</strong> (di seguito "noi",
                            "nostro/a/i") raccoglie, utilizza e protegge i dati
                            personali degli utenti che partecipano alla nostra
                            piattaforma tramite il sito web
                            <a
                                href="https://wordrops.com"
                                class="text-blue-600 hover:underline"
                                >wordrops.com</a
                            >.
                        </p>
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Dati raccolti
                        </h3>
                        <ul class="list-disc list-inside text-gray-700">
                            <li><strong>Nome</strong>: per identificarti.</li>
                            <li>
                                <strong>Email</strong>: per inviarti notifiche
                                riguardanti l'uso della piattaforma e eventuali
                                aggiornamenti.
                            </li>
                            <li>
                                <strong>Preferenze</strong>: per comprendere
                                meglio le tue aspettative e migliorare
                                l'esperienza.
                            </li>
                            <li>
                                <strong>Interazioni con la piattaforma</strong>:
                                per analizzare l'uso della piattaforma, comprese
                                le storie create e condivise.
                            </li>
                            <li>
                                <strong>Dati di navigazione</strong>: raccolti
                                tramite Google Analytics (tramite Google Tag
                                Manager), inclusi, ad esempio, le pagine
                                visitate, la durata della visita e la fonte di
                                traffico.
                            </li>
                            <li>
                                <strong>Cookie</strong>: per raccogliere dati di
                                navigazione e per migliorare l'esperienza
                                dell'utente.
                            </li>
                        </ul>
                    </section>

                    <section class="py-8">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Come utilizziamo i tuoi dati
                        </h3>
                        <ul class="list-disc list-inside text-gray-700">
                            <li>
                                Fornire e migliorare la nostra piattaforma e i
                                servizi.
                            </li>
                            <li>
                                Analizzare le interazioni degli utenti per
                                ottimizzare l'esperienza e la funzionalità della
                                piattaforma.
                            </li>
                            <li>
                                Inviarti notifiche tramite email per
                                aggiornamenti, funzionalità nuove e altre
                                comunicazioni rilevanti.
                            </li>
                            <li>
                                Migliorare il contenuto della piattaforma in
                                base ai feedback e alle interazioni degli
                                utenti.
                            </li>
                        </ul>
                    </section>

                    <section class="py-8">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Conservazione dei dati
                        </h3>
                        <p class="text-lg text-gray-700">
                            I dati personali raccolti vengono conservati nel
                            nostro database sicuro. Utilizziamo piattaforme di
                            hosting sicure, ma non condividiamo i tuoi dati con
                            terze parti, a meno che non sia necessario per il
                            funzionamento del servizio o per adempiere a
                            obblighi legali.
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800 mb-2">
                            7. Fornitori di Servizi Esterni e Trattamento dei
                            Dati
                        </h2>
                        <p class="text-base text-gray-700">
                            La piattaforma utilizza fornitori esterni per
                            l'hosting dei dati degli utenti, tra cui il servizio
                            di hosting del database PostgreSQL offerto da
                            <strong>Railway</strong>. I dati raccolti tramite la
                            piattaforma possono essere archiviati e trattati su
                            server gestiti da Railway, che si trova in un paese
                            terzo. Railway adotta misure di sicurezza adeguate
                            per proteggere i dati archiviati, in linea con le
                            normative internazionali sulla privacy e la
                            protezione dei dati.
                        </p>
                    </section>

                    <section class="py-8">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Protezione dei dati
                        </h3>
                        <p class="text-lg text-gray-700">
                            Adottiamo misure di sicurezza adeguate per
                            proteggere i tuoi dati personali, tra cui l'uso di
                            tecnologie di crittografia e altre pratiche di
                            sicurezza per evitare accessi non autorizzati.
                        </p>
                    </section>

                    <section class="py-8">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Diritti dell'utente
                        </h3>
                        <p class="text-lg text-gray-700">
                            Hai il diritto di accedere, correggere, aggiornare o
                            eliminare i tuoi dati personali in qualsiasi
                            momento. Se desideri esercitare questi diritti, puoi
                            contattarci all'indirizzo email
                            <a
                                href="mailto:support@wordrops.com"
                                class="text-blue-600 hover:underline"
                                >support@wordrops.com</a
                            >.
                        </p>
                    </section>

                    <section class="py-8">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Consenso
                        </h3>
                        <p class="text-lg text-gray-700">
                            Quando ti iscrivi alla piattaforma e ci fornisci i
                            tuoi dati, accetti i termini di questa Informativa
                            sulla Privacy. Se non sei d'accordo con il
                            trattamento dei tuoi dati come descritto, ti
                            invitiamo a non iscriverti al servizio.
                        </p>
                    </section>

                    <section class="py-8">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Modifiche all'Informativa sulla Privacy
                        </h3>
                        <p class="text-lg text-gray-700">
                            Ci riserviamo il diritto di modificare questa
                            Informativa sulla Privacy in qualsiasi momento. Le
                            modifiche saranno pubblicate su questa pagina e, se
                            necessario, ti informeremo via email.
                        </p>
                    </section>

                    <section class="py-8">
                        <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                            Contatti
                        </h3>
                        <p class="text-lg text-gray-700">
                            Se hai domande riguardo questa Informativa sulla
                            Privacy o sul trattamento dei tuoi dati personali,
                            puoi contattarci al seguente indirizzo email:
                            <a
                                href="mailto:support@wordrops.com"
                                class="text-blue-600 hover:underline"
                                >support@wordrops.com</a
                            >.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
