<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="/style/output.css" rel="stylesheet" />
    <link href="/style/style.css" rel="stylesheet">
    <title>privacy policy</title>
</head>
<body>
    <div class="wrap pt-6 py-40 overflow-hidden">
        <div class="section mx-auto px-6">
            <div class="relative my-10">
                <h2 class="text-center text-2xl font-bold font-consolas">NO ORDINARY <br> WRITERS</h2>

            </div>
        <div class="flex items-center justify-center min-h-screen px-6 md:mt-40 mt-10">
            <div class="max-w-6xl w-full bg-whitep-8">
                <h1 class="md:text-5xl text-2xl font-bold text-gray-800 mb-8">Informativa sulla Privacy</h1>
        
                    <p class="text-lg text-gray-700">
                        La presente Informativa sulla Privacy descrive come <strong>NoOrdinaryWriters</strong> (di seguito "noi", "nostro/a/i) raccoglie, utilizza e protegge i dati personali degli utenti che partecipano al nostro gioco come beta tester tramite il nostro sito web <a href="https://noordinarywriters.com" class="text-blue-600 hover:underline">noordinarywriters.com</a>.
                    </p>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Dati raccolti</h3>
                    <ul class="list-disc list-inside text-gray-700">
                        <li><strong>Nome</strong>: per identificarti.</li>
                        <li><strong>Email</strong>: per inviarti notifiche riguardanti il gioco e la partecipazione come beta tester.</li>
                        <li><strong>Preferenze</strong>: per comprendere meglio le tue aspettative e migliorare il nostro servizio.</li>
                        <li><strong>Genere</strong>: per fini statistici e per migliorare l'esperienza utente.</li>
                        <li><strong>Età</strong>: per assicurarci che tu abbia l'età minima per partecipare al gioco, se applicabile.</li>
                    </ul>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Come utilizziamo i tuoi dati</h3>
                    <ul class="list-disc list-inside text-gray-700">
                        <li>Aggiungerti alla lista di attesa come beta tester per il nostro gioco.</li>
                        <li>Inviarti notifiche via email per informarti quando il gioco sarà pronto per essere testato.</li>
                        <li>Migliorare il nostro gioco in base ai feedback degli utenti.</li>
                    </ul>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Conservazione dei dati</h3>
                    <p class="text-lg text-gray-700">
                        I dati personali raccolti vengono conservati nel nostro database sicuro. Utilizziamo <strong>Railway</strong> come piattaforma di deployment per ospitare il nostro servizio, ma non condividiamo i tuoi dati con terze parti, a meno che non sia necessario per il funzionamento del servizio o per adempiere ad obblighi legali.
                    </p>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Protezione dei dati</h3>
                    <p class="text-lg text-gray-700">
                        Adottiamo misure di sicurezza adeguate per proteggere i tuoi dati personali, tra cui l'uso di tecnologie di crittografia e altre pratiche di sicurezza per evitare accessi non autorizzati.
                    </p>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Diritti dell'utente</h3>
                    <p class="text-lg text-gray-700">
                        Hai il diritto di accedere, correggere, aggiornare o eliminare i tuoi dati personali in qualsiasi momento. Se desideri esercitare questi diritti, puoi contattarci all'indirizzo email <a href="mailto:privacy@noordinarywriters.com" class="text-blue-600 hover:underline">privacy@noordinarywriters.com</a>.
                    </p>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Consenso</h3>
                    <p class="text-lg text-gray-700">
                        Quando ti iscrivi al nostro servizio e ci fornisci i tuoi dati, accetti i termini di questa Informativa sulla Privacy. Se non sei d'accordo con il trattamento dei tuoi dati come descritto, ti invitiamo a non iscriverti al servizio.
                    </p>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Modifiche all'Informativa sulla Privacy</h3>
                    <p class="text-lg text-gray-700">
                        Ci riserviamo il diritto di modificare questa Informativa sulla Privacy in qualsiasi momento. Le modifiche saranno pubblicate su questa pagina e, se necessario, ti informeremo via email.
                    </p>
        
                    <h3 class="text-2xl font-semibold text-gray-800 mt-12">Contatti</h3>
                    <p class="text-lg text-gray-700">
                        Se hai domande riguardo questa Informativa sulla Privacy o sul trattamento dei tuoi dati personali, puoi contattarci al seguente indirizzo email: <a href="mailto:privacy@noordinarywriters.com" class="text-blue-600 hover:underline">privacy@noordinarywriters.com</a>.
                    </p>
            </div>
        </div>
    </div>
    
</body>
</html>