<div class="h-[35%] w-full flex flex-col justify-between">
    <div class="w-full flex h-full justify-center">
        <!-- Top Menu -->
        <div class="w-[80%] relative flex items-center justify-center h-full">
            <div class="absolute left-0">
                <div
                    class="avatar-container relative flex flex-col justify-center items-center p-6 w-32 h-32 bg-white border border-gray-200 rounded-full"
                    style="box-shadow: -3px 3px rgba(0, 0, 0, 0.473)"
                >
                    <img
                        id="main-avatar"
                        class="h-full w-auto object-contain"
                        src=""
                        alt=""
                    />
                    <div
                        class="absolute -mr-2 bottom-0 right-0 h-6 w-6 rounded-full bg-white"
                    >
                        <img
                            class="hover-rotate cursor-pointer"
                            src="/images/icons/change-avatar-icon.png"
                            onclick="openAvatarMenu()"
                            alt=""
                        />
                    </div>
                </div>
                <div
                    class="flex absolute -top-6 -right-10 flex-col justify-center items-center"
                >
                    <div class="username_container inline-block">
                        <h2
                            id="username"
                            class="text-gray-800 text-4xl font-extrabold"
                        ></h2>
                        <h4 id="userStatus"></h4>
                    </div>
                </div>
                <div
                    id="status-div"
                    class="flex hidden items-center justify-center space-x-2 mt-4"
                >
                    <!-- Testo con il pallino verde -->
                    <span class="text-sm font-semibold">Sei in game</span>
                    <span
                        id="game-status-indicator"
                        class="w-2 h-2 rounded-full bg-green-500"
                    ></span>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center h-full">
                <div
                    class="relative"
                    id="lottie-button"
                    onclick="openOverlay()"
                >
                    <div id="lottie-book"></div>
                    <img
                        src="/images/pen.png"
                        alt=""
                        class="absolute w-12 right-6 top-6"
                    />
                </div>
                <h2 class="my-title text-2xl text-gray-800">Nuova Storia</h2>
            </div>
            <div
                class="absolute right-0 flex flex-row md:flex-col items-center md:items-stretch gap-2"
            >
                <!-- Box sinistro -->
                <div class="relative flex flex-row gap-6">
                    <div
                        class="border-2 border-purple-200 rounded-full p-2 flex flex-row gap-8 px-8"
                    >
                        <a
                            id="leaderboard-icon"
                            href="/classifiche"
                            class="button-container flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/icons8-trofeo-48.png"
                                alt="leaderboard Icon"
                                class="icon-image"
                            />
                            <div class="text-sm font-semibold text-gray-800">
                                classifiche
                            </div>
                        </a>

                        <a
                            id="leaderboard-icon"
                            href="/storie-community"
                            class="button-container flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/library-icon.png"
                                alt="library Icon"
                                class="icon-image"
                            />
                            <div class="text-sm font-semibold text-gray-800">
                                libreria
                            </div>
                        </a>
                    </div>
                    <div
                        class="rounded-xl border border border-gray-300 hover:bg-gray-100 cursor-pointer p-4 w-full"
                    >
                        <div class="relative inline-block text-left">
                            <button
                                onclick="toggleDropdown()"
                                class="p-2 rounded-md focus:outline-none"
                            >
                                <!-- Hamburger Icon -->
                                <svg
                                    class="w-6 h-6 cursor-pointer"
                                    fill="none"
                                    stroke="currentColor"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 6h16M4 12h16M4 18h16"
                                    ></path>
                                </svg>
                            </button>

                            <!-- DROPDOWN -->
                            <div
                                id="dropdownMenu"
                                class="hidden absolute top-16 right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-50"
                            >
                                <div
                                    class="flex justify-between items-center px-4 py-2 text-red-600 hover:bg-red-100 w-full cursor-pointer"
                                    onclick="logout()"
                                >
                                    <button
                                        class="w-full text-sm text-left text-red-600 hover:bg-red-100"
                                    >
                                        logout
                                    </button>
                                    <div class="w-6 h-6">
                                        <img
                                            class="cursor-pointer"
                                            src="/images/icons/logout-icon.png"
                                            alt="logout Icon"
                                        />
                                    </div>
                                </div>
                                <div
                                    class="flex justify-between items-center px-4 py-2 text-red-600 hover:bg-red-100 w-full cursor-pointer"
                                    onclick="modalDeleteAccount()"
                                >
                                    <button
                                        id="delete-account-btn"
                                        class="w-full pointer-events-none text-sm text-left text-red-600 hover:bg-red-100"
                                    >
                                        Cancella Account
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative">
                    <div
                        class="text-xs px-3 py-2 rounded flex flex-col font-medium shadow-sm"
                    >
                        <form id="search-form" class="flex flex-col space-y-1">
                            <input
                                type="text"
                                id="search-input"
                                placeholder="Cerca un utente..."
                                class="px-2 py-1 rounded border border-gray-300 focus:outline-none focus:border-blue-500 transition duration-200"
                            />
                        </form>
                    </div>
                    <div
                        class="absolute left-0 right-0 mt-1 rounded-lg shadow-lg z-50 max-h-64 overflow-y-auto"
                        id="results"
                    ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-16 items-center relative justify-center">
        <div class="swiper-pagination"></div>
    </div>
</div>
