<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
        <title>
            Wordrops – La piattaforma per scrivere e collaborare in tempo reale
        </title>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <script src="./js/checkAuth.js"></script>
        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer
        ></script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N6J3B7DJ"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        <div
        class="page-wrapper p-36 flex-row items-center justify-center bg-cover relative"
        style="
        background-image: url('./images/blue-background.jpg');
        height: 100vh;
        background-size: 50% 100%;
        background-position: right center;
        background-repeat: no-repeat;
    "
>
                    <img
                    class="absolute bottom-0 right-0"
                    src="/images/library_platypus.png"
                    alt="ornitorinco davanti alla libreria"
                    style="
                        height: 50vh; 
                        width: auto; /
                    "
                />
                <div class="logo-container absolute left-4 top-4">
                    <img src="/images/wordrops_logo.png" alt="Wordrops Logo" class="mx-auto w-36 lg:w-64" />
                </div>

                <div
                    class="flex flex-col justify-start items-center justify-center relative z-10 h-full"
                >
                    <div
                        class="wrapper bg-gray-100 px-24  bg-opacity-90 p-8 rounded-lg shadow-md relative"
                    >
                    <img src="./images/pen.png" alt="penna grossa colorata" class="absolute -top-3 -left-2 w-16 h-16">
                        <form id="registrationForm" class="flex-col">
                            <h2
                                class="mb-4 text-xl font-bold text-gray-600"
                            >
                                CREA ACCOUNT
                            </h2>
                            <br />
                            <input
                                id="regEmail"
                                class="p-2 rounded-lg mb-4 border border-blue-400 w-full"
                                type="email"
                                placeholder="Email"
                                required
                            />
                            <br />
                            <input
                                id="regPassword"
                                class="p-2 rounded-lg mb-4 border border-blue-400 w-full"
                                type="password"
                                placeholder="Password"
                                autocomplete="new-password"
                                required
                            />
                            <br />
                            <div style="display: flex; gap: 16px; align-items: center;">
                                <button
                                    class="p-2 border-2 font-semibold rounded-lg px-4 text-sg text-white bg-blue-400 hover:bg-blue-600"
                                    type="submit"
                                >
                                    CREA
                                </button>
                                <div id="buttonDiv"></div>

                            </div>

                        </form>
                        <button class="mt-8 text-grey-400 underline">hai giá un account?</button>

                        
                    </div>
                    <div class="wrapper flex-col bg-gray-100 px-24 hidden bg-opacity-90 p-8 rounded-lg"
                    >
                    <h2
                    class="mb-4 text-xl font-bold text-gray-600"
                >
                    Login
                </h2>
                        <form
                            id="loginForm"
                            class="flex-col"
                            autocomplete="off"
                        >
                            <input
                                id="loginEmail"
                                class="p-2 rounded-lg mb-4 border border-solid"
                                style="border-color: rgb(120 53 15)"
                                type="email"
                                placeholder="Email"
                                required
                            />
                            <br />
                            <input
                                id="loginPassword"
                                class="p-2 rounded-lg mb-4 border border-solid w-full"
                                style="border-color: rgb(120 53 15)"
                                type="password"
                                placeholder="Password"
                                autocomplete="new-password"
                                required
                            />
                            <br />
                            <button
                            class="p-2 border-2 font-semibold rounded-lg px-4 text-sg text-white bg-blue-400 hover:bg-blue-600"
                            type="submit"
                            >
                                ENTRA
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/login.js"></script>
    </body>
</html>
