<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">   
    <title>No Ordinary Writers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="./js/checkAuth.js"></script>
</head>
<body>
    <audio id="click-sound" src="/images/button-hover-sound.ogg"></audio>

    <div class="page-wrapper h-screen flex items-center justify-center bg-cover relative" style="background-image: url('./images/register-image.jpg'); height: 100vh;">
          
        <div class="absolute inset-0 bg-gradient-to-b from-black to-transparent">

            <div class="flex flex-col justify-start items-center relative z-10 h-full">
                <h1 class="text-8xl my-20 font-extrabold text-center text-transparent bg-clip-text bg-gradient-to-r from-red-500 via-purple-500 to-blue-500">
                    League Of <br> Writers
                </h1>
                <h2> </h2>
    
                <div class="wrapper flex-col bg-gray-100 bg-opacity-60  p-8  rounded-lg">
                    <form id="registrationForm" class="flex-col mb-16">
                        <h2 class="mb-4 text-xl font-bold border-amber-600	" style="color: rgb(120 53 15);">Create Account</h2>
        
                        <input id="regUserName" class="p-2 rounded-lg mb-4 border border-solid" style="border-color: rgb(120 53 15);" type="text" id="regUserName" placeholder="Username" required>
                        <br>
                        <input id="regEmail" class="p-2 rounded-lg mb-4 border border-solid" style="border-color: rgb(120 53 15);" type="email"placeholder="Email" required>
                        <br>
                        <input id="regPassword" class="p-2 rounded-lg mb-4 border border-solid" style="border-color: rgb(120 53 15);" type="password"placeholder="Password" autocomplete="new-password" required>
                        <br>
                        <button class="p-2 border-2 text-white rounded-lg" style="background-color: rgb(120 53 15);" type="submit">SIGN UP</button>
        
                    </form>
                    <h2 class="mb-4 text-xl font-bold" style="color: rgb(120 53 15);">Login</h2>
                    <form  id="loginForm" class="flex-col" autocomplete="off">
        
                        <input id="loginUserName" class="p-2 rounded-lg mb-4 border border-solid" style="border-color: rgb(120 53 15);" type="text"  placeholder="Username" required>
                        <br>
                        <input id="loginPassword" class="p-2 rounded-lg mb-4 border border-solid" style="border-color: rgb(120 53 15);" type="password" placeholder="Password" autocomplete="new-password" required>
                        <br>
                        <button class="p-2 border-2 text-white bg-orange-800 rounded-lg" style="background-color: rgb(120 53 15);" type="submit">SIGN IN</button>
                    </form>
                </div>
    
            </div>
        </div>


    </div>

    <script src="./js/login.js"></script>
</body>
</html>