<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript">
            var _iub = _iub || [];
            _iub.csConfiguration = {
                siteId: 4000663,
                cookiePolicyId: 64172027,
                lang: "it",
                storage: { useSiteId: true },
            };
        </script>
        <script
            type="text/javascript"
            src="https://cs.iubenda.com/autoblocking/4000663.js"
        ></script>
        <script
            type="text/javascript"
            src="//cdn.iubenda.com/cs/iubenda_cs.js"
            charset="UTF-8"
            async
        ></script>
        <title>Storie della Community</title>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link href="/style/output.css" rel="stylesheet" />

        <link href="/style/style.css" rel="stylesheet" />
    </head>
    <body class="bg-gradient-to-r from-white to-gray-200">
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N6J3B7DJ"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        <div
            id="menu"
            class="w-full z-50 sticky h-24 top-0 p-4 bg-custom-light"
        >
            <div class="flex justify-between w-full h-full items-center">
                <div class="">
                    <img
                        src="/images/logo_wordrops_classic.svg"
                        alt="Wordrops Logo"
                        class="mx-auto w-20 lg:w-36"
                    />
                </div>
                <div
                    class="flex flex-row gap-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                >
                    <div class="w-32 py-2 border-1 border-gray-200 rounded-lg">
                        <a
                            href="/classifiche"
                            class="button-container flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/icons8-trofeo-48.png"
                                alt="trophy Icon"
                                class="icon-image size-6"
                            />
                            <div class="text-sm font-semibold text-gray-800">
                                classifiche
                            </div>
                        </a>
                    </div>
                    <div
                        class="w-32 py-2 border-1 border-gray-200 rounded-lg cursor-pointer"
                    >
                        <a
                            onclick="dashboardButton()"
                            class="button-container flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/icons8-casa-100.png"
                                alt="leaderboard Icon"
                                class="icon-image size-6"
                            />
                            <div class="text-sm font-semibold text-gray-800">
                                dashboard
                            </div>
                        </a>
                    </div>
                    <div class="w-32 py-2 border-1 border-gray-200 rounded-lg">
                        <a
                            href="/storie-community"
                            class="button-container flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/library-icon.png"
                                alt="library Icon"
                                class="icon-image size-6"
                            />
                            <div class="text-sm font-semibold text-gray-800">
                                libreria
                            </div>
                        </a>
                    </div>
                </div>
                <div class="flex flex-row gap-4">
                    <button
                        class="group w-32 cursor-pointer relative inline-flex h-12 items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 px-6 font-medium text-white duration-500"
                    >
                        <div
                            class="translate-x-0 opacity-100 transition group-hover:-translate-x-[150%] group-hover:opacity-0"
                        >
                            registrati
                        </div>
                        <div
                            class="absolute translate-x-[150%] opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100"
                        >
                            <svg
                                width="15"
                                height="15"
                                viewBox="0 0 15 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                                    fill="currentColor"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </div>
                    </button>
                    <button
                        class="cursor-pointer w-32 relative h-12 overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2.5 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                    >
                        <span class="relative font-semibold">login</span>
                    </button>
                </div>
            </div>
        </div>
        <header class="py-12" style="background-color: #faf4f4">
            <div class="max-w-screen-xl mx-auto px-6 text-center py-12">
                <h1
                    class="text-gray-800 text-4xl font-extrabold sm:text-5xl lg:text-6xl"
                >
                    Storie della Community
                </h1>
                <p class="mt-4 font-semibold text-lg sm:text-xl">
                    Esplora, vota e pubblica le tue storie. Unisciti alla nostra
                    community creativa!
                </p>
            </div>
            <div class="max-w-screen-lg mx-auto px-6">
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8"
                >
                    <div class="flex justify-center items-center gap-2">
                        <h3 class="text-md font-bold text-orange-400">
                            Autori:
                        </h3>
                        <p class="text-lg text-gray-800 font-bold" id="autori">
                            0
                        </p>
                    </div>

                    <div class="flex justify-center items-center gap-2">
                        <h3 class="text-md font-bold text-orange-400">
                            Storie Pubblicate:
                        </h3>
                        <p class="text-lg text-gray-800 font-bold" id="storie">
                            0
                        </p>
                    </div>

                    <div class="flex justify-center items-center gap-2">
                        <h3 class="text-md font-bold text-orange-400">
                            Voti Totali:
                        </h3>
                        <p class="text-lg text-gray-800 font-bold" id="voti">
                            0
                        </p>
                    </div>

                    <div class="flex justify-center items-center gap-2">
                        <h3 class="text-md font-bold text-orange-400">
                            Partite Concluse:
                        </h3>
                        <p class="text-lg text-gray-800 font-bold" id="partite">
                            0
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <!-- Statistiche Community (Above the Fold) -->
        <section class="mb-16 text-center py-12"></section>
        <script src="/js/menu.js" defer></script>
    </body>
</html>
